/*
* Changes for Privacy Policy page
*/
.orderform {
  top: 0 !important; }

.landing-page {
  /*.landing-item .landing-description{
  	border-right: 1px solid #ccc;
  }
  .landing-item:nth-child(3n+3) .landing-description{
  	border: none;
  }*/ }
  .landing-page .landing-content {
    margin-top: 40px;
    padding: 0 40px; }
  .landing-page .landing-icons {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0 10px; }
  .landing-page .landing-item {
    margin-bottom: 30px;
    padding: 0 30px !important;
    /*border-right: 1px solid #ccc;*/ }
  .landing-page .landing-image {
    margin-bottom: 30px; }
  .landing-page .landing-image img {
    max-width: 100px;
    display: block;
    margin: auto; }
  .landing-page .landing-item:nth-child(3n+4) {
    clear: left; }
  .landing-page .landing_sections {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0 40px; }
  .landing-page .landing_sections .section-title img {
    max-width: 100px;
    max-height: 170px;
    margin-top: 40px;
    margin-bottom: 30px; }
  .landing-page .ls_rotate {
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    transform: rotate(35deg); }
  .landing-page .landing_sections .section-title {
    padding: 0 !important;
    text-align: center; }
  .landing-page .landing_sections .section-desc {
    padding-left: 40px;
    border-left: 1px solid #ccc;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 25px; }
  .landing-page .landing_sections .section-desc h3:first-child {
    margin-top: 0; }

.navbar-header #contact {
  font-size: 16px;
  line-height: 28px; }
  .navbar-header #contact .dashicons {
    font-size: 24px; }

.top-nav ul {
  clear: right !important; }
  .top-nav ul li a {
    line-height: 12px !important;
    padding: 11.5px !important; }
  .top-nav ul li.active a {
    color: #fff !important;
    background-color: transparent !important;
    font-weight: bold; }

/*
* Entry content
*/
.page-id-266 .entry-content p:first-child, .page-id-266 .entry-content p:nth-child(2), .page-id-268 .entry-content p:first-child, .page-id-268 .entry-content p:nth-child(2) {
  margin-top: 33px;
  line-height: 25px;
  font-size: 15px; }

.page-template-default article.page {
  padding: 0 50px;
  margin: 20px auto 40px auto !important; }
  .page-template-default article.page .page-title {
    text-transform: uppercase; }

.entry-content p {
  margin-bottom: 1.375em; }
.entry-content h4 {
  margin-left: 10px;
  margin-top: 30px; }

/*
* Additional box on homepage
*/
.home #summary h2 {
  font-size: 22px !important; }
.home #summary h3 {
  font-size: 20px !important; }

.well-white {
  background: #fff !important; }
  .well-white img {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100px; }
  .well-white a {
    color: #24B084 !important;
    font-size: 18px !important;
    line-height: 20px !important; }
  .well-white p:last-child {
    margin-bottom: 0 !important; }
  .well-white:hover {
    cursor: auto; }

.well-green {
  background: #24B084 !important;
  color: #fff !important; }
  .well-green p {
    font-size: 12px;
    margin-bottom: 5px; }
  .well-green ul {
    padding-left: 10px;
    margin-bottom: 0; }
    .well-green ul li {
      font-size: 12px;
      margin-bottom: 5px; }
      .well-green ul li:last-child {
        margin-bottom: 0; }
  .well-green:hover {
    cursor: auto; }

/*
* Page translation
*/
.after-form {
  margin-top: 60px; }

#pt-summary {
  min-height: 2px;
  overflow: hidden; }

#pt-orderformwrapper {
  padding: 40px 0;
  background: #F2F2F2; }

#pt-response {
  float: left;
  margin-left: 0;
  margin-right: 20px;
  display: none; }

#pt-error-response {
  float: left;
  margin-left: 0;
  margin-right: 20px;
  margin-top: 14px;
  display: none; }

.pt-orderform {
  top: 0 !important;
  position: relative;
  background: #F2F2F2;
  padding: 0 40px;
  min-height: auto !important; }

form#page-translation-order h2 {
  margin-bottom: 25px;
  margin-left: 40px;
  font-size: 36px; }
form#page-translation-order input.invalid {
  border-color: #F5B2B2;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(245, 178, 178, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(245, 178, 178, 0.6); }

@media screen and (max-width: 976px) {
  #pt-summary {
    top: -10px !important; }

  #pt-response, #pt-error-response {
    width: 100%;
    margin: 0; } }

/*# sourceMappingURL=custom-styles.css.map */
