@import url("components/banner.css");
@import url("components/typography.css");

@import url("components/footer.css");
@import url("components/card.css");
@import url("components/navbar.css");
@import url("components/button.css");
@import url("components/testimonials.css");
@import url("components/samples.css");
@import url("components/skills.css");
@import url("components/readmore.css");
@import url("components/wonderCoders.css");

/*html, body {
	overflow-x: hidden;
}*/


.highlight {
 color:#f44336;
 background: black;
}

.design {
 color: #f44336;
}

.design-italic {
 color: #f44336;
 font-style: italic;
font-weight: bold;
}

.designandcode {
 color: #f44336;
}

.margin-bottom {
  margin-bottom: 15px;
}

/*a:link   a:visited   a:hover   a:active */
a {
  color: #f44336;
  text-decoration: none;
}

a:visited {
  color: #f44336;
  text-decoration: none;
}

a:hover {
  color: #f8877f;
  text-decoration: none;
}

a:focus {
  border-color: #ffffff!important;
  text-decoration: none;
  outline: 0px !important;
  outline-width: 0px;
  outline-color: #ffffff;
}

a:active {
  color: #ffffff;
  text-decoration: none;
}

.button-more:focus {
  outline:none;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.2); }

.color-red {
  color: #f44336;
}

.white {
  color: #ffffff;
}

.medium-head {
  font-family: 'Crete Round', serif;
  font-size: 24px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  color: black;
}
.medium-head-2 {
  font-family: 'Crete Round', serif;
  font-size: 26px;
  margin-bottom: 10px;
  letter-spacing: 1px;
  color: #f44336;
}

.margin-top {
  margin-top:30px;
}

.margin-left-right {
 padding: 23px 23px;
 /* margin-left: 10px;
  margin-right:10px;*/
}


.twitter-container {
 padding: 0px 75px;
}

.my-container {
 margin:30px;
}

.borderline {
  border-top: 2px solid #e6e8e6;
  margin-top: 34px;
  margin-bottom: 34px;
}


@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
