/*
* Typography
*/
  

/*
* Grid
*/

	$screen-xs:                  480px !default;
	$screen-sm:                  760px !default;
	$screen-md:                  992px !default;
	$screen-lg:                  1200px !default;

	$grid-float-breakpoint:     1200px !default;

	$container-max-width: 		1100px !default;

	$container-tablet:          (95%) !default;
	$container-lg: 				$container-max-width;
	

/*
* Custom variables
*/
	$transition-time: .2s;

/*
* Colors
*/
	$main-color: #08599b;
	$sub-color: #55b145;

	$brand-primary: $main-color;

	$text-color: #5a5a5a;

/*
* Navbars
*/

	// $navbar-height:					50px !default;
	// $navbar-margin-bottom: 			0 !default;
	// $navbar-border-radius:			0 !default;
	// $navbar-collapse-max-height: 	auto !default;

	// $navbar-inverse-color:			$nav-inverse-color !default;
	// $navbar-inverse-bg:				rgba($main-color-dark,0.8) !default;
	// $navbar-inverse-border:			transparent !default;

	// $navbar-inverse-link-color:                 $navbar-inverse-color !default;
	// $navbar-inverse-link-hover-color:           $main-color !default;
	// $navbar-inverse-link-hover-bg:              transparent !default;
	// $navbar-inverse-link-active-color:          $main-color !default;
	// $navbar-inverse-link-active-bg:             transparent !default;
	// $navbar-inverse-link-disabled-color:        #444 !default;
	// $navbar-inverse-link-disabled-bg:           transparent !default;

	// $navbar-inverse-toggle-hover-bg:	transparent !default;