.braintree-popup {
	.modal-title {
		color: $main-color;
		font-size: 28px;
	}

	.modal-body {
		padding: 0;
	}

	.modal-section {
		&:last-child {
			border-left: 1px solid #e5e5e5;
		}
	}

	.modal-section-inner {
		padding: 15px;

		@media screen and (min-width: 769px) {
			padding: 30px;
		}
	}

	h5 {
		color: #5a6b78;
		font-weight: bold;
		margin-top: 30px;
		margin-bottom: 5px;
		font-size: 15px;
	}

	dt {
		color: #5a6b78;
		font-size: 15px;
		font-weight: bold;

		&.light {
			font-weight: 500;
		}

	}

	dd {
		color: #5a6b78;
		font-size: 15px;
	}

	.popup-order-summary {
		color: $main-color;
		font-size: 16px;
		font-weight: bold;
		margin-top: 30px;
	}
}
