body {
 background-color: #eee;
 margin: 0;
 padding: 0;
 font-size: 17px;
 font-family: 'Lato', sans-serif;

 color: #5a5a5a;
}

p{
 font-weight: 400;
}

.brand-color {
 color: $brand-primary;
}

.number-brand-color {
 color: #fff;
 background: #08599b;
 border-radius: 100%;
 height: 60px;
 display: inline-block;
 width: 60px;
 text-align: center;
 line-height: 60px;
 margin-right: 16px;
}

.btn {
 border-radius: 0px;
 border: none;
 text-decoration: none;
 transition: all .2s ease-in-out;

 &.btn-success{
  background: $sub-color;
  &:hover{
   background: darken($sub-color, 5%);
  }
 }

 &.btn-blue{
  background: $main-color;
  &:hover{
   background: darken($main-color, 5%);
  }
 }
}

a {
 text-decoration: underline;
 color: #333;
}

.shadow {
 -webkit-box-shadow: rgba(10, 10, 10, 0.15) 0 2px 4px;
 -moz-box-shadow: rgba(10, 10, 10, 0.15) 0 2px 4px;
 box-shadow: rgba(10, 10, 10, 0.15) 0 2px 4px;
}

.round-borders {
 -webkit-border-radius: 8px;
 -moz-border-radius: 8px;
 border-radius: 8px;
}

/*
* Misc
*/
 .form-group {
  position: relative;
 }

 .textarea-close {
  background: url("../img/close.png") no-repeat;
  height: 18px;
  width: 18px;
  display: block;
  cursor: pointer;
  position: absolute;
   top: 10px;
   right: 10px;
 }

 .alert-info.upload-alert {
   font-size: 16px;
 }

 .glyphicon.spinning {
   animation: spin 1s infinite linear;
   -webkit-animation: spin2 1s infinite linear;
 }

 @keyframes spin {
   from { transform: scale(1) rotate(0deg); }
   to { transform: scale(1) rotate(360deg); }
 }

 @-webkit-keyframes spin2 {
   from { -webkit-transform: rotate(0deg); }
   to { -webkit-transform: rotate(360deg); }
 }

 .page-tips-og-triks .alert,
 .order-website .alert {
  margin-top: 1rem;
 }

/*
* CTA
*/
 .cta-box {
  background-color: #fff;
  font-size: 32px;
  padding: 15px 25px;
  line-height: 50px;
  text-align: center;
  margin: 30px 0 50px 0;
  .fa {
   margin: 0 15px;
   color: #eee;
   font-weight: bolder;
  }
 }

/*
* Validation
*/
 .ng-invalid.ng-dirty {
  border-color: red;
 }

/*
* Dropzone
*/
 .tbu-dropzone {
  margin-bottom: 50px;

  .dz-message {
   margin: 0;
  }
  background: none;
  padding: 0;
  border: none;

  &.hasfiles {
   display: block;
   border: 1px rgba(8, 90, 156, 0.3) dotted;
   background: none;
   color: #24B083;
   font-size: 22px;
   border-radius: 4px;
   margin-bottom: 20px;
   padding: 20px;
  }

  .uploader{
   display: block !important;
   color: #5a5a5a;
  }
 }

 .hasfiles .dz-message {
  display: none;
 }

 .tbu-dropzone .dz-preview {
  margin-left: 0;
  &.dz-file-preview .dz-image, .dz-image {
   border-radius: 4px;
   background: #FFF;
   border: 1px solid #B1B1B1;
  }
  &.dz-image-preview {
   background: none;
  }
 }

 .dz-drag-hover {
  background: rgba(36, 176, 131, 0.1);
  border-color: #24b083;
 }

 .big-project-info{
  position: fixed;
  bottom: 246px;
  right: 16px;
  font-size: 18px;
  background-color: #fff;
  z-index: 100;

  border-radius: 0;
  width: 290px;

  strong{
   display: block;
   font-weight: 300;
   font-size: 16px;
   padding: 0 15px;
   background-color: $main-color;
   color: #fff;
  }

  .obs-section{
   display: inline-block;
   border: 1px solid #fff;
   border-radius: 50%;
   font-size: 10px;
   width: 30px;
   height: 30px;
   line-height: 30px;
   text-align: center;
   margin-right: 10px;
  }

  .inner{
   padding: 10px;
  }

  p{
   display: inline-block;
   margin: 0;
   font-size: 15px;
  }

  button{
   font-size: 14px;
      padding: 5px 15px;
      margin-top: 10px;
  }
 }

 .quote-description{
  margin: 15px auto 10px auto;
  text-align: center;
  font-size: 14px;
 }

/* Custom 7 col grid */

@media (min-width: 768px){
  .seven-cols {
  .col-md-1,
  .col-sm-1,
  .col-lg-1 {
   float: left;
   width: 25%;
   *width: 25%;
  }
  }
}

@media (min-width: 992px) {
  .seven-cols {
 .col-md-1,
 .col-sm-1,
 .col-lg-1 {
   width: 14.285714285714285714285714285714%;
   *width: 14.285714285714285714285714285714%;
 }
  }
}
