<div class="container">
	<main>

		<h1 class="text-center">Bestil oversættelse</h1>
		<div class="section order-steps" ng-cloak ng-controller="FormController as formCtrl">	

			<div class="big-project-info shadow round-borders" ng-show="order.total > 5000">
				<strong><span class="obs-section">OBS!</span>Din ordre ser meget stor ud!</strong>
				<div class="inner">
					<p>Bestil et tilbud og få alle rabatter med</p>
					<p><button type="button" class="btn btn-lg btn-block btn-success btn-blue" ng-disabled="orderform.$invalid || formCtrl.sending" ng-click="send_quote()"><span class="glyphicon glyphicon-refresh spinning" ng-if="formCtrl.sending || formCtrl.counting"></span> Indhent tilbud</button></p>
				</div>
			</div>

			<div class="price-summary shadow round-borders">
				<strong>Din bestilling</strong>
				<p>{{ order.type }} {{ order.word_price ? ( order.word_price | number ) + '/ord' : 'Gratis' }}<br />
					Total {{ order.total | number : 2 }} ex. moms.<br />
					Moms {{ order.vat | number : 2 }}<br />
					Forventet levering: {{ order.estimation }} hverdage
					<button class="btn btn-primary btn-block" ng-disabled="orderform.$invalid || ( order.count == 0 && ! order.has_files ) || formCtrl.sending" ng-click="order.has_files && order.count == 0 ? send_preorder() : show_popup()"><span class="glyphicon glyphicon-refresh spinning" ng-if="formCtrl.sending || formCtrl.counting"></span> Bestil nu</button>
				</p>
			</div>

			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">

					<form id="order-form" name="orderform" ng-submit="order.has_files && order.count == 0 ? send_preorder() : show_popup()" novalidate enctype="multipart/form-data">
						<h2><span class="number-brand-color">1. </span>Vælg produkt</h2>

						<div class="form-group">

							<section class="order-block">
								
								<div class="row flex">

									<div class="col-md-4 selectable" ng-class="{ active : order.type_raw == 'machine' }" ng-click="order.type = 'Maskinoversættelse'; order.word_price = prices.machine; order.type_raw = 'machine'; count_words(); send_quality_track('q0')">
										<div class="well">
											<span class="fa fa-check"></span>
											<h3>Maskin-oversættelse</h3>
											<h4>Gratis</h4>
											<hr>
											<p>
												Egner sig til:<br>
												- Overordnet forståelse af tekstindhold.<br>
												Kryptering sikrer fortroligt materiale. Andre gratis tilbud på nettet er ikke sikret.
											</p>
											<div class="btn btn-block">{{ order.type_raw == 'machine' ? 'Valgt' : 'Vælg' }}</div>
										</div>
									</div>
									
									<div class="col-md-4 selectable" ng-class="{ active : order.type_raw == 'basis' }" ng-click="order.type = 'Basis'; order.word_price = prices.basic; order.type_raw = 'basis'; count_words(); send_quality_track('q1')">
										<div class="well">
											<span class="fa fa-check"></span>
											<h3>Basis-oversættelse</h3>
											<h4>DKK 0,79/ord</h4>
											<hr>
											<p>
												Egner sig til:<br>
												- Korte tekster<br>
												- Produktbeskrivelser<br>
												- Sociale medier<br>
												- Enkle manualer<br>
												- Nyhedsbreve<br>
												- Undertekster
											</p>
											<div class="btn btn-block">{{ order.type_raw == 'basis' ? 'Valgt' : 'Vælg' }}</div>
										</div>
									</div>

									<div class="col-md-4 selectable" ng-class="{ active : order.type_raw == 'business' }" ng-click="order.type = 'Business'; order.word_price = prices.business; order.type_raw = 'business'; count_words(); send_quality_track('q2')">
										<div class="well">
											<span class="fa fa-check"></span>
											<h3>Business-oversættelse</h3>
											<h4>DKK 0,99/ord</h4>
											<hr>
											<p>
												Egner sig til:<br>
												- Juridiske tekster<br>
												- Financielle rapporter<br>
												- Præsentationer<br>
												- Kataloger og flyers<br>
												- Manualer<br>
												- Faglige artikler
											</p>
											<div class="btn btn-block">{{ order.type_raw == 'business' ? 'Valgt' : 'Vælg' }}</div>
										</div>
									</div>
										
								</div>
								   
							</section>

						</div>
						<h2><span class="number-brand-color">2. </span>Vælg sprog</h2>
						<div class="form-group">
							<div class="row">
								<div class="col-xs-6">
									<label for="fromlanguage">* Fra</label>
									<select chosen id="fromlanguage" ng-model="order.fromlanguage" ng-options="fromlang.id as fromlang.name for fromlang in formCtrl.langs" class="form-control" ng-if="formCtrl.langs" placeholder-text-single="'Vælg sprog'" ng-change="count_words()" required="required">
										<option value=""></option>
									</select>
								</div>
								<div class="col-xs-6">
									<label for="tolanguage">* Til</label>
									<select chosen multiple id="tolanguage" ng-model="order.tolanguage" ng-options="tolang.id as tolang.name for tolang in formCtrl.to_langs" class="form-control" ng-if="formCtrl.to_langs" placeholder-text-multiple="'Vælg ét eller flere sprog'" ng-change="count_words()" required="required">
										<option value=""></option>
									</select>
								</div>
							</div>
						</div>

						<h2><span class="number-brand-color">3. </span>Indtast eller upload tekst</h2>

						<div class="form-group">
							<label for="project-name">Navngiv dit projekt</label>
							<input type="text" class="form-control" name="project_name" ng-model="order.project_name" id="project-name" rows="8">
						</div>
						
						<div class="form-group tbu-dropzone" ng-if="order.source == true || order.source == 'file'" ng-class="{'hasfiles': order.source == 'file'}" ng-dropzone dropzone="formCtrl.dropzone" dropzone-config="formCtrl.dropzoneConfig" event-handlers="{ 'successmultiple': formCtrl.dropzone_successmultiple, 'sending': formCtrl.dropzone_sending, 'removedfile': formCtrl.dropzone_removedfile }">
							<div class="fallback">
								<input name="file" type="file" />
							</div>
							<div class="uploader dz-default dz-message">
								<p>klik her for at uploade filer <i class="fa fa-upload"></i></p>
							</div>
							<div class="dropzone-previews"></div>
							<div class="alert alert-info upload-alert" ng-if="formCtrl.upload_alert"><span class="glyphicon glyphicon-refresh spinning"></span> {{ formCtrl.upload_alert }}</div>
						</div>

						<div class="form-group" ng-if="order.source == true || order.source == 'input'">
							<span class="textarea-close" ng-if="order.project_text.length > 0" ng-click="order.project_text = ''; order.source = true"></span>
							<textarea class="form-control" placeholder="Eller sæt din tekst ind her..." name="project_text" ng-model="order.project_text" id="project-text" rows="8" ng-change="count_words(); order.project_text.length > 0 ? order.source = 'input' : order.source = true;" ng-blur="send_mail()"></textarea>
						</div>

						<h2><span class="number-brand-color">4. </span>Kontakt data</h2>
						<div class="form-group">
							<label for="name">* Navn</label>
							<input type="text" class="form-control" name="name" id="name" ng-model="order.name" required="required" />
						</div>
						<div class="form-group">
							<label for="email">* Indtast e-mail adresse</label>
							<input type="email" class="form-control" name="email" id="email" ng-model="order.email" ng-blur="send_mail()" required="required" />
						</div>
						<div class="form-group">
							<label for="company">Firma</label>
							<input type="text" class="form-control" name="company" ng-model="order.company" id="company" />
						</div>
						<div class="form-group">
							<label for="notes">Kommentar / note</label>
							<textarea class="form-control" name="notes" ng-model="order.notes" id="notes" cols="30" rows="6"></textarea>
						</div>
						<div class="form-group checkbox">
							<label><input type="checkbox" value="true" name="no-vat" ng-model="order.no_vat" ng-change="calc_total()" /> Ikke dansk virksomhed</label>
						</div>
						<div class="form-group text-center totals">

							<strong>Total {{ order.total | number : 2 }} DKK</strong>
							<div>
								<small><em>Pris er ex. moms</em></small>
							</div>
						</div>
						<button type="submit" class="btn btn-lg btn-block btn-success" ng-disabled="orderform.$invalid || ( order.count == 0 && ! order.has_files ) || formCtrl.sending"><span class="glyphicon glyphicon-refresh spinning" ng-if="formCtrl.sending || formCtrl.counting"></span> Bestil oversættelse</button>
						
						<p class="quote-description">Eller bestil et tilbud først</p>
						<button type="button" class="btn btn-lg btn-block btn-success btn-blue" ng-disabled="orderform.$invalid || formCtrl.sending" ng-click="send_quote()"><span class="glyphicon glyphicon-refresh spinning" ng-if="formCtrl.sending || formCtrl.counting"></span> Indhent tilbud</button>
					</form>
				</div>
			</div>

			<div class="braintree-popup modal fade" tabindex="-1" role="dialog" aria-labelledby="braintree-popup__title">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="braintree-popup__title">Bestil nu</h4>
						</div>
						<div class="modal-body">

							<div class="row">
								<div class="col-md-6 modal-section">
									<div class="modal-section-inner row">
										<dl>
											<dt class="col-md-6">Projekt navn       </dt>
											<dd class="col-md-6">{{ order.project_name ? order.project_name : '&nbsp;' }}</dd>
											<dt class="col-md-6">Navn		</dt>
											<dd class="col-md-6">{{order.name}}</dd>
											<dt class="col-md-6">E-mail		     </dt>
											<dd class="col-md-6">{{order.email}}</dd>
											<dt class="col-md-6">Ord i alt		 </dt>
											<dd class="col-md-6">{{order.count}}</dd>
										</dl>

										<h5 class="col-md-12">Valgte sprog:</h5>
										<dl>
											<dt class="col-md-6">Fra			 </dt>
											<dd class="col-md-6">{{ formCtrl.fromlang }}</dd>
											<dt class="col-md-6">Til			</dt>
											<dd class="col-md-6"><span ng-repeat="lang in formCtrl.langs | inArray:order.tolanguage:'id'">{{lang.name}}{{$last ? '' : ', '}}</span></dd>
										</dl>

										<h5 class="col-md-12">Du har valgt:</h5>
										<dl>
											<dt class="col-md-6 light">Produkt		 </dt>
											<dd class="col-md-6">{{order.type}}</dd>
											<dt class="col-md-6 light">Pris	       </dt>
											<dd class="col-md-6">{{ order.word_price ? ( order.word_price | number ) : 'Gratis' }}</dd>
											<dt class="col-md-6 light">I alt:		      </dt>
											<dd class="col-md-6">DKK {{ order.total | number : 2 }}</dd>
											<dt class="col-md-6 light">Forventet levering:		      </dt>
											<dd class="col-md-6">{{ order.estimation }} hverdage</dd>
										</dl>
										<div class="popup-order-summary col-md-12">
											<div class="row">
												<div class="col-md-6">Total inklusiv Moms:</div>
												<div class="col-md-6">DKK {{ ( order.total + order.vat ) | number : 2 }}</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 modal-section">
									<div class="modal-section-inner">
										<form>
											<braintree-dropin options="braintree_options"></braintree-dropin>
											<input type="submit" class="btn btn-primary btn-block" value="Betal med kredit kort" ng-click="change_payment_type('Betalt med kreditkort')">
											<img src="assets/img/braintree-badge.png" alt="Braintree" class="img-responsive">
										</form>
										<button class="braintree-popup__submit btn btn-primary btn-block" ng-click="change_payment_type_and_send('Betaling via faktura')">Betal med faktura</button>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="preorder-confirmation-popup modal fade" tabindex="-2" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="braintree-popup__title">Din ordre</h4>
						</div>
						<div class="modal-body">
							<p>Tak for din bestilling. Vi sender dig en pris inden vi sætter opgaven i gang</p>
						</div>
						<div class="modal-footer">
							<button class="braintree-popup__submit btn btn-primary btn-block" ng-click="reset_order(); changeView('bestil-oversaettelse')">Klik for at lukke og gå tilbage til bestilling</button>
						</div>
					</div>
				</div>
			</div>

			<div class="quote-confirmation-popup modal fade" tabindex="-3" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body">
							<p>Vi går straks i gang med at lave et tilbud til dig</p>
						</div>
						<div class="modal-footer">
							<button class="braintree-popup__submit btn btn-primary btn-block" ng-click="reset_order(); changeView('')">Gå til forsiden</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</main>
</div>
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "LocalBusiness",
      "name": "Translated By Us",
      "description":"Oversættelsesbureau - Få oversat din tekst eller hjemmeside i dag! Vi tilbyder hurtig & billig oversættelse uden minimumsgebyr og til 79 øre pr. ord.",
      "address": {
        "@type": "PostalAddress",
        "addressRegion": "Gentofte",
        "postalCode": "2820",
        "streetAddress": "Ellegårdsvej 10, 1.st floor"
      },
      "currenciesAccepted":"DKK",
      "paymentAccepted":"Dankort, Visa, VisaDankort, Mastercard, m.m.",
      "telephone": "23 67 42 72",
      "url": "https://translatedbyus.com/",
      "openingHours": "Mo,Tu,We,Th,Fr,Sa,Su 00:00-23:59",
      "openingHoursSpecification": [
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Mandag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Tirsdag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Onsdag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Torsdag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Fredag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Lørdag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Søndag",
          "opens":  "00:00:00"
        }
      ]
    }
</script>

<script type="application/ld+json">
{
      "@context": "http://schema.org",
      "@type": "Organization",
      "address":{
        "@type": "PostalAddress",
          "addressRegion": "Gentofte",
          "postalCode": "2820",
          "streetAddress": "Ellegårdsvej 10, 1.st floor"
      },
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4.9",
        "reviewCount": "152"
      },
      "areaServed":{
      	"@type":"GeoShape",
        "addressCountry":"Danmark"
      },
      "contactPoint":"",
      "email":"info@translatedbyus.com",
      "hasOfferCatalog":"",
      "location": {
        "@type": "Place",
        "address": {
          "@type": "PostalAddress",
          "addressRegion": "Gentofte",
          "postalCode": "2820",
          "streetAddress": "Ellegårdsvej 10, 1.st floor"
        }
      },
      "logo":"https://translatedbyus.com/assets/img/logo.png",
      "telephone":"23 67 42 72",
      "vatID":"37407887",
      "mainEntityOfPage":{
      	"@type": "CreativeWork",
      	"translator":"Translated By Us"
      },
      "url":"https://translatedbyus.com/",
      "sameAs":[
      "https://www.facebook.com/translatedbyus/",
      "https://www.linkedin.com/company/translated-by-us",
      "https://plus.google.com/+TranslatedByUsGentofte",
      "https://twitter.com/tbu_world_wide"],
      "name":"Translated By Us"
}
</script>
<script type="application/ld+json">
{
      "@context": "http://schema.org",
      "@type": "Service",
      "name":"Translated By Us",
      "offers":[
      {
        "@type": "Offer",
        "price": "0",
        "priceCurrency":"DKK",
        "description":"pr. ord",
        "name":"Maskin-oversættelse",
	    "description":"Egner sig til overordnet forståelse af tekstindhold. Kryptering sikrer fortroligt materiale. Andre gratis tilbud på nettet er ikke sikret."
      },
      {
        "@type": "Offer",
        "price": "0.79",
        "priceCurrency":"DKK",
        "description":"pr. ord",
        "name":"Basis oversættelse",
	    "description":"Egner sig til: Juridiske tekster, Financielle rapporter, Præsentationer, Kataloger og flyers, Manualer, Faglige artikler"
      },
      {
        "@type": "Offer",
        "price": "0.99",
        "priceCurrency":"DKK",
        "description":"pr. ord",
        "name":"Business translation",
	    "description":"Egner sig til: Juridiske tekster, Financielle rapporter, Præsentationer, Kataloger og flyers, Manualer, Faglige artikler"
      }
      ],
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4.9",
        "reviewCount": "152"
      },
      "areaServed":{
      	"@type":"GeoShape",
        "addressCountry":"Danmark"
      },
      "provider":"Translated By Us"
}
</script>
<script type='application/ld+json'>
{
  "@context":"http://schema.org",
  "@type":"WebPage",
  "url":"https://translatedbyus.com/bestil-oversaettelse",
  "name":"Bestil oversættelse af din tekst eller hjemmeside allerede i dag.",
  "description":"Bestil oversættelse af din tekst med det samme. Vi kan oversætte mere end 800 sprogkombinationer hurtigt og billigt.",
  "about":"Bestil oversættelse",
  "author":"Translated By Us",
  "dateCreated":"",
  "headline":"Bestil oversættelse",
  "hasPart":"Translator",
  "isFamilyFriendly":"True",
  "keywords":"Bestil oversættelse, oversættelse, bestil",
  "mainEntity":"Bestil oversættelse",
  "translator":"Translated By Us"
}
</script><script type="application/ld+json">
{
      "@context": "http://schema.org",
      "@type": "Product",
      "name":"Maskin-oversættelse - gratis",
      "manufacturer":"Translated By Us",
      "offers": {
        "@type": "Offer",
        "price": "0",
        "priceCurrency":"DKK",
        "description":"pr. ord"
      },
      "description":"Egner sig til overordnet forståelse af tekstindhold. Kryptering sikrer fortroligt materiale. Andre gratis tilbud på nettet er ikke sikret."
}
</script>
<script type="application/ld+json">
{
      "@context": "http://schema.org",
      "@type": "Product",
      "name":"Basis oversættelse",
      "manufacturer":"Translated By Us",
      "offers": {
        "@type": "Offer",
        "price": "0.79",
        "priceCurrency":"DKK",
        "description":"pr. ord"
      },
      "description":"Egner sig til: Korte tekster, Produktbeskrivelser, Sociale medier, Enkle manualer, Nyhedsbreve, Undertekster "
}
}
</script>
<script type="application/ld+json">
{
      "@context": "http://schema.org",
      "@type": "Product",
      "name":"Business translation",
      "manufacturer":"Translated By Us",
      "offers": {
        "@type": "Offer",
        "price": "0.99",
        "priceCurrency":"DKK",
        "description":"pr. ord"
      },
      "description":"Egner sig til: Juridiske tekster, Financielle rapporter, Præsentationer, Kataloger og flyers, Manualer, Faglige artikler"
}
}
</script>