<div class="container">
	<main>
		<div ng-controller="HjemmesideController as hsCtrl">
			<div class="section">
				<h1 class="text-center">Oversættelse af hjemmesider</h1>
        <p>Vi har gjort oversættelse af hjemmesider super nemt. En fast procedurer sikrer, at vi kommer hurtigt i mål og samtidig bruger ganske få ressourcer hos både jer og os.
			</div>
			<div class="section quotes">
				<div class="row">
					<div class="col-sm-6">
						<div class="quote">
							<strong>1. Overblik over pris!</strong><br />
              Vi starter med at tælle ordene på jeres hjemmeside. Med ordantallet kan vi regne os frem til en pris på at få lavet en komplet oversættelse af hjemmesiden.
						</div>
					</div>
					<div class="col-sm-6">
						<div class="quote">
							<strong>2. Regn på din ROI</strong><br />
              Når du/I modtager prisen, kan du/I afgøre, om det kan betale sig at få oversat hjemmesiden.
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="quote">
							<strong>3. Vælg din løsning</strong><br />
							Alle systemer kan oversættes, men der er mange måder at gøre det på. Vi finder sammen den smarteste løsning til jer i samarbejde med jeres egne IT-folk.
						</div>
					</div>
					<div class="col-sm-6">
						<div class="quote">
							<strong>4. Komplet overblik fra start til slut.</strong><br />
							Når vi har overblik over pris, løsning og levering, er det nemmere for jer at vide hvad der skal ske og hvordan.
						</div>

					</div>
				</div>
			</div>
			<div class="section order-website">
				<div class="row">
					<div class="col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3 order-form-wrap">

						<h3>Udfyld formularen og få en pris</h3>

						<form name="hsCtrl.formdom">
							<div class="form-group">
								<label for="url">Indtast hjemmeside</label>
								<input type="url" class="form-control" id="url" name="url" placeholder="http://" ng-model="hsCtrl.form.url" required="required" />
							</div>
							<div class="form-group">
								<label for="email">Indtast e-mail addresse</label>
								<input type="email" class="form-control" id="email" name="email" placeholder="din@email.dk" ng-model="hsCtrl.form.email" required="required" />
							</div>
							<button type="submit" class="btn btn-success btn-lg btn-block" ng-click="send()"><span class="glyphicon glyphicon-refresh spinning" ng-if="hsCtrl.sending"></span> Send mig en pris</button>
						</form>

						<div class="alert alert-success" ng-if="hsCtrl.message">{{ hsCtrl.message }}</div>

					</div>
				</div>
			</div>
			<div class="section">
				<h2>Efter oversættelse af hjemmesiden – hvad så?</h2>
       <p>Hvis jeres hjemmeside ofte bliver opdateret med nyt indhold anbefaler vi, at I får lavet en integration (forbindelse) mellem jeres hjemmeside og os. Med en integration sparer I tid og penge på administration, og med løbende opdateringer på alle sprog, vil jeres indhold altid været relevant og opdateret. Det er også noget Google belønner i søgeresultater. Integrationer er heller ikke længere en stor og dyr investering. </p>

				<p>Kun 99 kr/mdr. en integration der fjerner 90% af din administration!</p>
			</div>
			<div class="section">
				<h3>Vi har oversættelsesintegrationer til følgende systemer</h3>
				<ul>
					<li>Adobe CQ/AEM</li>
					<li>DNN CMS</li>
					<li>Drupal</li>
					<li>EpiServer</li>
					<li>Sitecore</li>
					<li>Umbraco</li>
					<li>Wordpress Multilanguage</li>
				</ul>
			</div>
		</div>
	</main>
</div>
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "LocalBusiness",
      "name": "Translated By Us",
      "description":"Oversættelsesbureau - Få oversat din tekst eller hjemmeside i dag! Vi tilbyder hurtig & billig oversættelse uden minimumsgebyr og til 79 øre pr. ord.",
      "address": {
        "@type": "PostalAddress",
        "addressRegion": "Gentofte",
        "postalCode": "2820",
        "streetAddress": "Ellegårdsvej 10, 1.st floor"
      },
      "currenciesAccepted":"DKK",
      "paymentAccepted":"Dankort, Visa, VisaDankort, Mastercard, m.m.",
      "telephone": "23 67 42 72",
      "url": "https://translatedbyus.com/",
      "openingHours": "Mo,Tu,We,Th,Fr,Sa,Su 00:00-23:59",
      "openingHoursSpecification": [
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Mandag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Tirsdag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Onsdag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Torsdag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Fredag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Lørdag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Søndag",
          "opens":  "00:00:00"
        }
      ]
    }
</script>

<script type="application/ld+json">
{
      "@context": "http://schema.org",
      "@type": "Organization",
      "address":{
        "@type": "PostalAddress",
          "addressRegion": "Gentofte",
          "postalCode": "2820",
          "streetAddress": "Ellegårdsvej 10, 1.st floor"
      },
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4.9",
        "reviewCount": "152"
      },
      "areaServed":{
      	"@type":"GeoShape",
        "addressCountry":"Danmark"
      },
      "contactPoint":"",
      "email":"info@translatedbyus.com",
      "hasOfferCatalog":"",
      "location": {
        "@type": "Place",
        "address": {
          "@type": "PostalAddress",
          "addressRegion": "Gentofte",
          "postalCode": "2820",
          "streetAddress": "Ellegårdsvej 10, 1.st floor"
        }
      },
      "logo":"https://translatedbyus.com/assets/img/logo.png",
      "telephone":"23 67 42 72",
      "vatID":"37407887",
      "mainEntityOfPage":{
      	"@type": "CreativeWork",
      	"translator":"Translated By Us"
      },
      "url":"https://translatedbyus.com/",
      "sameAs":[
      "https://www.facebook.com/translatedbyus/",
      "https://www.linkedin.com/company/translated-by-us",
      "https://plus.google.com/+TranslatedByUsGentofte",
      "https://twitter.com/tbu_world_wide"],
      "name":"Translated By Us"
}
</script>
<script type="application/ld+json">
{
      "@context": "http://schema.org",
      "@type": "Service",
      "name":"Translated By Us",
      "offers":[
      {
        "@type": "Offer",
        "price": "0",
        "priceCurrency":"DKK",
        "description":"pr. ord",
        "name":"Maskin-oversættelse",
	    "description":"Egner sig til overordnet forståelse af tekstindhold. Kryptering sikrer fortroligt materiale. Andre gratis tilbud på nettet er ikke sikret."
      },
      {
        "@type": "Offer",
        "price": "0.79",
        "priceCurrency":"DKK",
        "description":"pr. ord",
        "name":"Basis oversættelse",
	    "description":"Egner sig til: Juridiske tekster, Financielle rapporter, Præsentationer, Kataloger og flyers, Manualer, Faglige artikler"
      },
      {
        "@type": "Offer",
        "price": "0.99",
        "priceCurrency":"DKK",
        "description":"pr. ord",
        "name":"Business translation",
	    "description":"Egner sig til: Juridiske tekster, Financielle rapporter, Præsentationer, Kataloger og flyers, Manualer, Faglige artikler"
      }
      ],
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4.9",
        "reviewCount": "152"
      },
      "areaServed":{
      	"@type":"GeoShape",
        "addressCountry":"Danmark"
      },
      "provider":"Translated By Us"
}
</script>
<script type='application/ld+json'>
{
  "@context":"http://schema.org",
  "@type":"WebPage",
  "url":"https://translatedbyus.com/oversaet-hjemmeside",
  "name":"Oversæt Hjemmeside: Professionel oversættelse, hurtigt & billigt.",
  "description":"Oversæt hjemmeside - Få oversat din hjemmeside hurtig og billigt af dit oversættelsesbureau Translated By Us. Vi kan oversætte mere end 800 sprogkombinationer.",
  "about":"Oversæt komplet hjemmeside",
  "author":"Translated By Us",
  "dateCreated":"",
  "headline":"Oversæt komplet hjemmeside",
  "hasPart":"Translator",
  "isFamilyFriendly":"True",
  "keywords":"om os, Oversættelse, oversættelser, Translated By Us, Translated, Oversæt, oversæt hjemmeside, Oversættelsesbureau",
  "mainEntity":"Oversæt komplet hjemmeside",
  "translator":"Translated By Us"
}
</script>
