<div class="container-fluid section visible-xs visible-sm mobile-stripe">
	<div class="container text-center">
		<a ng-click="scroll_to( 'testimonials' )">Du kan møde vores kunder her</a>
	</div>
</div>

<div class="container-fluid hero section">
	<div class="container">
		<div class="hero-content">
			<h1>Professionelt oversættelsesbureau – Høj kvalitet og lav pris</h1>
			<h2 class="lead">Hurtig kvalitetsoversættelse af alle tekster</h2>
			<p class="lead">Fra 0,79 DKK pr. ord</p>
			<p class="lead">Ingen minimumspris</p>
			<a href="tel:+4523674272" class="btn btn-lg btn-primary btn-tel">Ring til os på 23&nbsp;67&nbsp;42&nbsp;72</a>
			<p class="lead">Eller</p>
			<a href="bestil-oversaettelse" class="btn btn-lg btn-primary">Beregn din pris</a>
		</div>
	</div>
</div>

<div class="container-fluid home-section usps section">
	<div class="container">
		<main>
			<div class="section">
				<div class="cta-box round-borders shadow">
					Vi hjælper også med ægteskabsattester, servitutter, lejekontrakter o.l.
					<a href="privat" class="btn btn-primary btn-lg">Læs mere</a>
				</div>
			</div>
			<div class="section usps">
				<h2 class="text-center title">Oversættelse er kompliceret – vi har gjort det enkelt for dig</h2>
				<div class="row">
					<div class="col-sm-6">
						<div class="usp">
							<div class="row">
								<div class="col-xs-2 col-lg-2">
									<div class="usp-image">
										<img src="assets/img/icons/priser-pa-overaettelse-oversaettelsesbureau.png" class="img-responsive" width="68" srcset="assets/img/icons/priser-pa-overaettelse-oversaettelsesbureau@2x.png 2x" alt="Priser på oversættelse oversættelsesbureau" />
									</div>
								</div>
								<div class="col-xs-10 col-lg-10">
									<div class="usp-statement">
										<h2 class="h2-small">Oversættelsesbureau med enkel prismodel</h2>
										<p>
											Hos os betaler du en fast lav ordpris fra 79 øre og intet minimumsgebyr.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="usp">
							<div class="row">
								<div class="col-xs-2 col-lg-2">
									<div class="usp-image">
										<img src="assets/img/icons/oversaettelsesbureau-oversaetter-support.png" class="img-responsive" width="68" alt="Oversættelsesbureau oversætter support" srcset="assets/img/icons/oversaettelsesbureau-oversaetter-support@2x.png 2x" />
									</div>
								</div>
								<div class="col-xs-10 col-lg-10">
									<div class="usp-statement">
										<h2 class="h2-small">Oversættelsesbureau med support 24/7</h2>
										<p>
											Du har altid mulighed for at få fat på os eller en af vores oversættere.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="usp">
							<div class="row">
								<div class="col-xs-2 col-lg-2">
									<div class="usp-image">
										<img src="assets/img/icons/oversaettelsesbureau-system-integration.png" class="img-responsive" width="68" alt="Oversættelsesbureau system integration" srcset="assets/img/icons/oversaettelsesbureau-system-integration@2x.png 2x" />
									</div>
								</div>
								<div class="col-xs-10 col-lg-10">
									<div class="usp-statement">
										<h2 class="h2-small">Integration til alle systemer</h2>
										<p>
											Vi kan integrere API imod alle systemer. Vi læser også alle filer, f.eks. HTML, XML, InDesign m.fl. Det forventes af et moderne oversættelsesbureau.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="usp">
							<div class="row">
								<div class="col-xs-2 col-lg-2">
									<div class="usp-image">
										<img src="assets/img/icons/kontakt-oversaetter-oversaettelsesbureau.png" class="img-responsive" width="68" alt="Kontakt oversætter oversættelsesbureau" srcset="assets/img/icons/kontakt-oversaetter-oversaettelsesbureau@2x.png 2x" />
									</div>
								</div>
								<div class="col-xs-10 col-lg-10">
									<div class="usp-statement">
										<h2 class="h2-small">Direkte kontakt med oversætter</h2>
										<p>
											Translated By Us er et oversættelsesbureau, der tilbyder direkte kontakt med din oversætter. Vi sætter dig i forbindelse med de bedste oversættere i verden.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="usp">
							<div class="row">
								<div class="col-xs-2 col-lg-2">
									<div class="usp-image">
										<img src="assets/img/icons/virksomhed-oversaettelse-oversaettelsesbureau.png" class="img-responsive" width="68" alt="Virksomhed oversættelse oversættelsesbureau" srcset="assets/img/icons/virksomhed-oversaettelse-oversaettelsesbureau@2x.png 2x" />
									</div>
								</div>
								<div class="col-xs-10 col-lg-10">
									<div class="usp-statement">
										<h2 class="h2-small">Oversættere til din virksomhed</h2>
										<p>
											Hver oversætter er specialiseret i ét eller flere fagområder. Nogle tekster kræver enormt meget brancheindsigt. Vi sørger for det helt rigtige match til din virksomhed.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="usp">
							<div class="row">
								<div class="col-xs-2 col-lg-2">
									<div class="usp-image">
										<img src="assets/img/icons/oversaettelsesbureau-800-sprogkombinationer.png" class="img-responsive" width="68" alt="Oversættelsesbureau 800 sprogkombinationer" srcset="assets/img/icons/oversaettelsesbureau-800-sprogkombinationer@2x.png 2x" />
									</div>
								</div>
								<div class="col-xs-10 col-lg-10">
									<div class="usp-statement">
										<h2 class="h2-small">Mere end 800 sprogkombinationer</h2>
										<p>
											Vi er et oversættelsesbureau, der tilbyder oversættelse til og fra stort set alle sprog. Kontakt os, hvis du er i tvivl, om vi kan oversætte din tekst.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="usp">
							<div class="row">
								<div class="col-xs-2 col-lg-2">
									<div class="usp-image">
										<img src="assets/img/icons/oversaettelsesbureau-selvbetjening-nem.png" class="img-responsive" width="68" alt="Oversættelsesbureau selvbetjening nem" srcset="assets/img/icons/oversaettelsesbureau-selvbetjening-nem@2x.png 2x" />
									</div>
								</div>
								<div class="col-xs-10 col-lg-10">
									<div class="usp-statement">
										<h2 class="h2-small">Nem selvbetjening og personlig kontakt</h2>
										<p>
											Hos Translated By Us har vi gjort det nemt for dig at få oversat din tekst. Upload blot dit dokument, eller indtast din tekst, og klik på bestil. Du kan altid ringe til os, hvis du har spørgsmål.
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="usp">
							<div class="row">
								<div class="col-xs-2 col-lg-2">
									<div class="usp-image">
										<img src="assets/img/icons/business-oversaettelses-oversaettelses-bureau.png" class="img-responsive" width="68" alt="Business oversættelses oversættelses bureau" srcset="assets/img/icons/business-oversaettelses-oversaettelses-bureau@2x.png 2x" />
									</div>
								</div>
								<div class="col-xs-10 col-lg-10">
									<div class="usp-statement">
										<h2 class="h2-small">Business-oversættelser</h2>
										<p>
											Du har mulighed for at vælge vores business-løsning til oversættelser, der kræver brancheindsigt i f.eks produktion, medicin, ernæring eller jura.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 text-center">
						<a href="oversaettere" class="btn btn-lg btn-primary">Mød vores oversættere</a>
					</div>
				</div>
			</div>
		</main>
	</div>
</div>

<div id="testimonials" class="container-fluid home-section testi section">
	<div class="container">
		<h2 class="text-center title">Det siger vores kunder</h2>

		<div class="carousel slide" data-interval="false">

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<p>
						<img src="assets/img/cykelpartner_logo.png" class="img-responsive" width="200" alt="Cykelpartner logo" srcset="cykelpartner_logo@2x.png 2x" style="margin: auto auto 15px auto"/>
					</p>
					<p class="desc">
						"Tak for god service og hurtig levering. I gør et rigtig godt stykke arbejde :)"
					</p>
					<h3 class="title">Jeppe Kornum, <a href="https://www.cykelpartner.dk/" target="_blank">Cykelpartner.dk</a></h3>
				</div>
				<div class="item">
					<p class="desc">
						"Vi sætter pris på den hurtige service og det profesionelle niveau. Når vi har spørgsmål til oversætterne, får vi gode og uddybende svar."
					</p>
					<h3 class="title">Allan Purkær, Daglig leder, Wallstickerland</h3>
				</div>
				<div class="item">
					<p class="desc">
						"Hurtig Service"
					</p>
					<h3 class="title">Lea Nielsen, Brand manager, Still Nordic</h3>
				</div>
				<div class="item">
					<p class="desc">
						"Vi er glade for den jordnære stil og tone, og det er fedt, at vi kan chatte direkte med vores oversætter"
					</p>
					<h3 class="title">Annemette Nielsen, Founder & CEO, Puslely</h3>
				</div>
				<div class="item">
					<p class="desc">
						"Hurtigt, billigt og uden alt besværet."
					</p>
					<h3 class="title">Daniel Garde, CEO, Rock'n'Roll Grafix</h3>
				</div>
				<div class="item">
					<p class="desc">
						"For et start-up som os, betyder hurtig levering alt - og så hjælper det også at prisen er lav."
					</p>
					<h3 class="title">Thomas Paulsen, Co-founder, Order YoYo</h3>
				</div>
				<div class="item">
					<p class="desc">
						"Vi har benyttet translated by us til flere kundeopgaver, altid yderst excellent eksekveret."
					</p>
					<h3 class="title">Simon Elkjær, Direktør, <a href="https://spinnakernordic.com">Spinnaker Nordic</a></h3>
				</div>
				<div class="item">
					<p class="desc">
						"Med mange korte tekster betyder det meget for os, at der ikke er minimumspriser"
					</p>
					<h3 class="title">Kirsten Andersen, Marketingkoordinator, Andersen Furniture</h3>
				</div>
				<div class="item">
					<p class="desc">
						"Lynhurtig levering og super god service!"
					</p>
					<h3 class="title">Dyveko Angelo, Buyer & E-Commerce Manager, Strøm</h3>
				</div>
			</div>

		  <!-- Controls -->
		  <a class="left carousel-control" id="testi-prev" href="" data-target="#testimonials" role="button" data-slide="prev">
		    <img src="/assets/img/arrow_left.png" alt="Left arrow" class="arrow" />
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" id="testi-next" href="" data-target="#testimonials" role="button" data-slide="next">
		    <img src="/assets/img/arrow_right.png" alt="Right arrow" class="arrow" />
		    <span class="sr-only">Next</span>
		  </a>
		</div>
	</div>
</div>

<div class="container-fluid home-section cta section">
	<div class="container">
		<a href="tel:+4523674272" class="btn cta-btn">Ring til os på 23&nbsp;67&nbsp;42&nbsp;72</a>
		<p>Eller</p>
		<a href="bestil-oversaettelse" class="btn cta-btn">Beregn din pris</a>
	</div>
</div>

<div class="container-fluid home-section video section">
	<div class="container">
		<main>
			<div itemprop="video" itemscope itemtype="http://schema.org/VideoObject" class="section">
				<h2 class="text-center title">Introduktion til oversættelsesbureau Translated By Us</h2>
				<meta itemprop="name" content="Translated By Us introduktion" />
				<meta itemprop="description" content="Denne video giver en hurtig introduktion til Translated By Us. Lidt kort om hvad vi kan og hvad du kan forvente. Vi håber at kunne levere flere videoer om alle aspekter af oversættelser. Fra integration, til validering, oversættelse af hjemmeside osv." />
				<meta itemprop="thumbnailURL" content="https://translatedbyus.com/assets/img/yt-thumb.jpg" />
				<meta itemprop="embedURL" content="https://www.youtube.com/embed/CYDqrxHBchc" />
				<meta itemprop="duration" content="00:00:26" />
				<meta itemprop="uploadDate" content="2016-05-20" />
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="//www.youtube.com/embed/CYDqrxHBchc"></iframe>
				</div>
			</div>
		</main>
	</div>
</div>

<div class="container-fluid home-section video section">
	<div class="container">
		<main>
			<div class="section">
				<h2 class="text-center title">Vi tilbyder billig og professionel oversættelse med prisgaranti</h2>
				<div class="row">
					<div class="col-sm-6">
						<p>Translated By Us er et professionelt oversættelsesbureau med rødder i Danmark – nærmere betegnet København. Vi har gennem mange år i oversættelsesbranchen opbygget et tæt og godt samarbejde med fagspecifikke oversættere fra hele verden, hvilket har gjort det muligt for os som oversættelsesbureau at tilbyde oversættelse til næsten alle sprog.</p>

						<p>Vi er et oversættelsesbureau med en klar vision om, at oversættelse skal være en enkel og gennemskuelig oplevelse for kunderne, og at vi skal tilbyde professionel oversættelse til billige priser. Vi går op i, at vores oversættere har de rette rammer og ro til at koncentrere sig og udføre gode oversættelser.</p>
						<br>

						<h2>Oversættelse er blevet billigere</h2>
						<p>Vi er et oversættelsesbureau, der tilbyder professionel oversættelse til markedets laveste priser. Det kan vi, fordi vi arbejder med den nyeste teknologi, gode databaser og automatisk filhåndtering. Desuden er vi et oversættelsesbureau med stor fokus på indkøb. Som oversættelsesbureau er det ikke kun vigtigt at købe fornuftigt ind. Det er også vigtigt at opbygge en tæt relation til de leverandører, der er tilknyttet.</p>

						<p>De tekster, som af den ene eller anden grund skal gennem et oversættelsesbureau, er meget forskellige. Til nogle oversættelser kræves en højtuddannet lingvist med et bestemt speciale eller en copywriter med fingeren på pulsen. Andre oversættelser er mindre krævende og derfor også billigere.</p>
						<br>

						<h2>Opgaverne favner bredt</h2>
						<p>Opgaverne, som vi her i oversættelsesbureauet varetager, er vidt forskellige. Ingen oversættelsesopgave er for stor, og ingen er for lille. Vi klarer at oversætte både lange årsrapporter, hele hjemmesider, brugermanualer, juridiske dokumenter og produkttekster til webshops, hvor det ofte drejer sig om mange, men korte tekster, der skal oversættes. Vi oversætter også LinkedIn-opdateringer og andre ganske korte opdateringer.</p>

						<p>Er du privatperson og har brug for en oversættelse, hjælper vi selvfølgelig også med det. Vi har stor erfaring med oversættelse af lejekontrakter, CV’er, jobansøgninger og personlige dokumenter.</p>
						<br>

						<h2>Automatisér din bestilling</h2>

						<p>Opdateres jeres hjemmeside ofte med nyt indhold, kan det være en fordel at lave en automatisering af jeres oversættelsesopgaver via integration. En integration sparer jer både tid og penge. Det foregår på den måde, at jeres opdateringer på ét sprog automatisk sendes afsted til os. Vi oversætter dem og sender dem tilbage til jer, hvor de automatisk lægges ind på rette sted på jeres hjemmeside. Vi har oversættelsesintegrationer til følgende systemer; Adobe CQ/AEM, DNN CMS, Drupal, EpiServer, Sitescore, Umbraco og WordPress Multilanguage. Hvis I bruger et system, der ikke er på vores liste, kan vi nemt tilføje det.</p>

						<p>Translated By Us vægter at være et oversættelsesbureau, der leverer høj kvalitet til lav pris. Vi bestræber os på at yde god service og finde de tjenester, der passer til dit behov, så du som kunde får en behagelig oplevelse her hos os, hver gang du har brug for en oversættelse.</p>
					</div>
					<div class="col-sm-6">
						<h2>Oversættelsesbureau der tilbyder flere tjenester</h2>
						<p>
							Vi tilbyder 3 forskellige tjenester:
							<ol>
								<li>Business</li>
								<li>Basis</li>
								<li>Maskinoversættelse</li>
							</ol>
						</p>
						
						<h3>Business:</h3>
						<p>Vælg business-oversættelse, hvis din tekst er fagspecifik, skal leve i lang tid, skal trykkes eller har juridisk indhold. Vælg også business, hvis du ønsker, at der bruges lidt ekstra tid på at få teksten til at flyde godt og naturligt.</p>

						<p>Business-oversættelse er især velegnet til virksomheder med specialiserede fagområder. Vi sørger for at matche hver oversættelsesopgave med det helt rigtige oversættelsesteam, og vi kræver, at hver oversætter i teamet har det branchekendskab, der skal til for at lave en oversættelse på højt fagligt niveau.</p>

						<p>Business-tjenesten fokuserer på detaljerne og tilfører autentisk værdi til din oversættelse.</p>

						<h3>Basis-oversættelse:</h3>
						<p>Vælg basis-oversættelse til korte tekster med kort levetid. F.eks. produkttekster, bannere, blogs og nyhedsbreve. Vi ser et stigende behov for oversættelser af produkttekster, i takt med at mange webshops udvider deres fokus og salg over landets grænser. Korrekt oversættelse af produkttekster og andre korte tekster øger din virksomheds troværdighed overfor udenlandske kunder.</p>

						<p>Basis-tjenesten er for dig der ønsker god kvalitetsoversættelse af mindre komplicerede tekster.</p>

						<h3>Maskinoversættelse:</h3>
						<p>Vælg maskinoversættelse, hvis du blot har behov for at forstå det overordnede indhold i en tekst.  Maskinoversættelsen foregår vha. en stor statistisk database, der er suppleret af en række komplicerede lingvistiske, grammatiske regler. Maskinoversættelse har sin fordel ved at give et hurtigt resultat, idet den oversætter 50 sider på 10 minutter.</p>

						<p>Maskinoversættelse egner sig til tekster, hvor du har behov for at forstå indholdet af en oversættelse og kan acceptere, at ikke alt i oversættelsen er skrevet korrekt.</p>

						<h2>Giv os din feedback og få en endnu bedre oversættelse</h2>

						<p>Som et kvalitativt oversættelsesbureau, ønsker vi at oversætte dine tekster, så de stemmer overens med de forventninger, du har til oversættelsen. Du kan som kunde være med til at sætte den stil og tone, som du gerne vil have at dine oversættelser udtrykker. Det kalder vi en <strong>Validering</strong>. Ønsker du at være mere involveret i selve oversættelsesprocessen, kan vi, ved at oprette dig som validator i vores system, give dig adgang til at redigere direkte i dine oversættelser, inden termerne lagres og den endelige oversættelse downloades.</p>

						<p>Du kan bestille validering af dine oversættelser ved at skrive din e-mail og dit navn i kommentarfeltet ved bestilling.</p>
					</div>
				</div>
			</div>
		</main>
	</div>
</div>

<div class="container-fluid home-section quotes section">
	<div class="container">
		<main>
			<div class="section">
				<h2 class="text-center title">Vores samarbejdspartnere</h2>
				<div class="row">
					<div class="col-sm-4 partner-item">
						<div class="quote text-center">
							<a href="https://ilangl.com/default.aspx" target="_blank"><img src="assets/img/partners/ilangl.png"></a>
							<p>
								Utroligt fleksible integrationsløsninger med et absolut minimum af programmering. iLang går direkte til databasen og virker derfor på alle systemer.
							</p>
						</div>
					</div>
					<div class="col-sm-4 partner-item">
						<div class="quote text-center">
							<a href="https://www.memsource.com/en" target="_blank"><img src="assets/img/partners/memsource.png"></a>
							<p>
								Verdens bedste oversættelsesværktøj. Nemt at bruge, altid online og så er de flinke til at snakke med deres kunder.
							</p>
						</div>
					</div>
					<div class="col-sm-4 partner-item">
						<div class="quote text-center">
							<a href="https://www.easyling.com/" target="_blank"><img src="assets/img/partners/easyling.png"></a>
							<p>
								Proxy-oversættelse når det er bedst. Easyling leverer ordtælling og proxy-oversættelse af websites på en uhørt nem måde.
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 partner-item">
						<div class="quote text-center">
							<a href="http://www.softheme.com/" target="_blank"><img src="assets/img/partners/softheme.png"></a>
							<p>
								Vores absolutte yndlings udviklingshus. De klarer alt fra mobile apps til websites og tunge backend løsninger.
							</p>
						</div>
					</div>
					<div class="col-sm-4 partner-item">
						<div class="quote text-center">
							<a href="http://wpserved.com/" target="_blank"><img src="assets/img/partners/wpserved.png"></a>
							<p>
								Frontend bureau med speciale i Wordpress. Hvis vores side loader hurtigt er det 100% deres skyld.
							</p>
						</div>
					</div>
					<div class="col-sm-4 partner-item">
						<div class="quote text-center">
							<a href="https://spinnakernordic.com/" target="_blank"><img src="assets/img/partners/spinnakernordic.png"></a>
							<p>
								Danmarks bedste SEO og Adwords bureau. Uden dem havde du aldrig fundet os.
							</p>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</div>

<div class="container-fluid home-section customers section">
	<div class="row">
		<div class="col-md-3">
			<img src="assets/img/customers/orderyoyo.png" class="img-responsive" />
		</div>
		<div class="col-md-3">
			<img src="assets/img/customers/spinnakernordic.png" class="img-responsive" />
		</div>
		<div class="col-md-3">
			<img src="assets/img/customers/puslely.png" class="img-responsive" />
		</div>
		<div class="col-md-3">
			<img src="assets/img/customers/rnrgfx.png" class="img-responsive" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<img src="assets/img/customers/andersen.png" class="img-responsive" />
		</div>
		<div class="col-md-3">
			<img src="assets/img/customers/strom.png" class="img-responsive" />
		</div>
		<div class="col-md-3">
			<img src="assets/img/customers/wallstickerland.png" class="img-responsive" />
		</div>
		<div class="col-md-3">
			<img src="assets/img/customers/stillnordic.png" class="img-responsive" />
		</div>
	</div>
</div>
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "LocalBusiness",
      "name": "Translated By Us",
      "description":"Oversættelsesbureau - Få oversat din tekst eller hjemmeside i dag! Vi tilbyder hurtig & billig oversættelse uden minimumsgebyr og til 79 øre pr. ord.",
      "address": {
        "@type": "PostalAddress",
        "addressRegion": "Gentofte",
        "postalCode": "2820",
        "streetAddress": "Ellegårdsvej 10, 1.st floor"
      },
      "currenciesAccepted":"DKK",
      "paymentAccepted":"Dankort, Visa, VisaDankort, Mastercard, m.m.",
      "telephone": "23 67 42 72",
      "url": "https://translatedbyus.com/",
      "openingHours": "Mo,Tu,We,Th,Fr,Sa,Su 00:00-23:59",
      "openingHoursSpecification": [
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Mandag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Tirsdag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Onsdag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Torsdag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Fredag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Lørdag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Søndag",
          "opens":  "00:00:00"
        }
      ]
    }
</script>

<script type="application/ld+json">
{
      "@context": "http://schema.org",
      "@type": "Organization",
      "address":{
        "@type": "PostalAddress",
          "addressRegion": "Gentofte",
          "postalCode": "2820",
          "streetAddress": "Ellegårdsvej 10, 1.st floor"
      },
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4.9",
        "reviewCount": "152"
      },
      "areaServed":{
      	"@type":"GeoShape",
        "addressCountry":"Danmark"
      },
      "contactPoint":"",
      "email":"info@translatedbyus.com",
      "hasOfferCatalog":"",
      "location": {
        "@type": "Place",
        "address": {
          "@type": "PostalAddress",
          "addressRegion": "Gentofte",
          "postalCode": "2820",
          "streetAddress": "Ellegårdsvej 10, 1.st floor"
        }
      },
      "logo":"https://translatedbyus.com/assets/img/logo.png",
      "telephone":"23 67 42 72",
      "vatID":"37407887",
      "mainEntityOfPage":{
      	"@type": "CreativeWork",
      	"translator":"Translated By Us"
      },
      "url":"https://translatedbyus.com/",
      "sameAs":[
      "https://www.facebook.com/translatedbyus/",
      "https://www.linkedin.com/company/translated-by-us",
      "https://plus.google.com/+TranslatedByUsGentofte",
      "https://twitter.com/tbu_world_wide"],
      "name":"Translated By Us"
}
</script>
<script type="application/ld+json">
{
      "@context": "http://schema.org",
      "@type": "Service",
      "name":"Translated By Us",
      "offers":[
      {
        "@type": "Offer",
        "price": "0",
        "priceCurrency":"DKK",
        "description":"pr. ord",
        "name":"Maskin-oversættelse",
	    "description":"Egner sig til overordnet forståelse af tekstindhold. Kryptering sikrer fortroligt materiale. Andre gratis tilbud på nettet er ikke sikret."
      },
      {
        "@type": "Offer",
        "price": "0.79",
        "priceCurrency":"DKK",
        "description":"pr. ord",
        "name":"Basis oversættelse",
	    "description":"Egner sig til: Juridiske tekster, Financielle rapporter, Præsentationer, Kataloger og flyers, Manualer, Faglige artikler"
      },
      {
        "@type": "Offer",
        "price": "0.99",
        "priceCurrency":"DKK",
        "description":"pr. ord",
        "name":"Business translation",
	    "description":"Egner sig til: Juridiske tekster, Financielle rapporter, Præsentationer, Kataloger og flyers, Manualer, Faglige artikler"
      }
      ],
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4.9",
        "reviewCount": "152"
      },
      "areaServed":{
      	"@type":"GeoShape",
        "addressCountry":"Danmark"
      },
      "provider":"Translated By Us"
}
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type":"VideoObject",
  "name":"Translated By Us introduktion",
  "description":"Denne video giver en hurtig introduktion til Translated By Us. Lidt kort om hvad vi kan og hvad du kan forvente. Vi håber at kunne levere flere videoer om alle aspekter af oversættelser. Fra integration, til validering, oversættelse af hjemmeside osv.",
  "duration":"00:00:26",
  "uploadDate":"2016-05-20",
  "thumbnailUrl":"https://translatedbyus.com/assets/img/yt-thumb.jpg",
  "embedUrl":"https://www.youtube.com/embed/CYDqrxHBchc"
}
</script>

<script type='application/ld+json'>
{
  "@context":"http://schema.org",
  "@type":"WebPage",
  "url":"https://translatedbyus.com/",
  "name":"Translated By Us",
  "description":"Oversættelsesbureau - Få oversat din tekst eller hjemmeside i dag! Vi tilbyder hurtig & billig oversættelse uden minimumsgebyr og til 79 øre pr. ord.",
  "about":"Professionel Oversættelsesbureau - Hurtig levering til en billig pris.",
  "author":"Translated By Us",
  "dateCreated":"",
  "headline":"Professionel Oversættelsesbureau - Hurtig levering til en billig pris.",
  "hasPart":"Translator",
  "isFamilyFriendly":"True",
  "keywords":"Oversættelse, oversættelser, Translated By Us, Translated, Oversæt, Oversættelsesbureau",
  "mainEntity":"Oversættelsesbureau",
  "translator":"Translated By Us"
}
</script>
<script type='application/ld+json'>
{
  "@context":"http://schema.org",
  "@type":"WebSite",
  "url":"https://translatedbyus.com/",
  "name":"Translated By Us",
  "description":"Oversættelsesbureau - Få oversat din tekst eller hjemmeside i dag! Vi tilbyder hurtig & billig oversættelse uden minimumsgebyr og til 79 øre pr. ord.",
  "about":"Professionel Oversættelsesbureau - Hurtig levering til en billig pris.",
  "author":"Translated By Us",
  "dateCreated":"",
  "headline":"Professionel Oversættelsesbureau - Hurtig levering til en billig pris.",
  "hasPart":"Translator",
  "isFamilyFriendly":"True",
  "keywords":"Oversættelse, oversættelser, Translated By Us, Translated, Oversæt, Oversættelsesbureau",
  "mainEntity":"Oversættelsesbureau",
  "translator":"Translated By Us"
}
</script>
