<div class="container">
	<main>
		<div class="section">
			<h1 class="text-center">Om os</h1>
			<div class="row">
				<div class="col-sm-6">
					<h3>Vision</h3>
					<p>Køb af oversættelse skal være enkelt og gennemskueligt med synlige priser.</p>
					<p>En oversætter skal have optimale rammer og ro til at kunne koncentrere sig om den gode oversættelse.</p>
					<p>Oversættelses-flowet skal følge med virksomheders behov for løbende opdateret online tilstedeværelse.</p>
				</div>
				<div class="col-sm-6">
					<h3>Fakta</h3>
					<ul>
						<li>Vi er et netværk af oversættere fra hele verden.</li>
						<li>Vi tilbyder mere end 800 forskellige sprogkombinationer.</li>
						<li>Vi leverer oversættelser af høj kvalitet til markedets laveste priser.</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="section">
			<div itemprop="video" itemscope itemtype="http://schema.org/VideoObject" class="section">
				<meta itemprop="name" content="Translated By Us introduktion" />
				<meta itemprop="description" content="Denne video giver en hurtig introduktion til Translated By Us. Lidt kort om hvad vi kan og hvad du kan forvente. Vi håber at kunne levere flere videoer om alle aspekter af oversættelser. Fra integration, til validering, oversættelse af hjemmeside osv." />
				<meta itemprop="thumbnailURL" content="https://translatedbyus.com/assets/img/yt-thumb.jpg" />
				<meta itemprop="embedURL" content="https://www.youtube.com/embed/CYDqrxHBchc" />
				<meta itemprop="duration" content="00:00:26" />
				<meta itemprop="uploadDate" content="2016-05-20" />
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="//www.youtube.com/embed/CYDqrxHBchc"></iframe>
				</div>
			</div>
		</div>

		<div class="section contact col-xs-10 col-xs-offset-1">
			<h3 class="">Kontakt os</h3>
			<div class="row">
				<div class="col-xs-6">
					<p>Ellegårdsvej 10, 1. sal<br />
						2830 Gentofte, 	Denmark
					</p>
				</div>
				<div class="col-xs-6">
					<p>Telefon: (+45) 26 36 31 39<br />
						Email: info@translatedbyus.com
					</p>
				</div>
			</div>
			<p>
				<img src="assets/img/location.png" class="img-responsive " /></p>
		</div>
		<div class="clearfix"></div>
		<div class="section">
			<h2 class="text-center">Sådan virker det!</h2>
			<p>
				Vi har gjort det nemt, enkelt og hurtigt for dig at bestille oversættelse af alle dine tekster. Hvis du vil vide lidt mere om maskineriet, der
				holder hjulene i gang, har vi herunder lavet en kort gennemgang af alt det, der kan være godt at vide.
			</p>
			<h4>Selvbetjening</h4>
			<p>
				Hos Translated By Us har vi gjort det nemt for dig, at få oversat din tekst. Du skal blot uploade dit dokument eller indtaste din tekst, vælge
				sprogpar, indtaste dit navn og din e-mail og klikke “Bekræft ordre”. Du vil herefter modtage en ordrebekræftelse i et popup vindue.
			</p>
			<h4>Personlig betjening</h4>
			<p>Ønsker du personlig betjening, kan du ringe til os eller e-maile os.</p>
			<p>
				Tel: 26363139<br />
				E-mail: production@translatedbyus.com
			</p>
			<h4>Oversættelse af hjemmeside</h4>
			<p>
				Ønsker du, at få oversat din hjemmeside, men er i tvivl om hvordan du skal gribe det an, hjælper vi selvfølgelig også med det.
			</p>
			<p>
				<a href="oversaet-hjemmeside">Klik her</a> for at modtage tilbud på oversættelse af hjemmeside.
			</p>

			<h4>Kundeservice</h4>
			<p>
				I kundeservice sidder vi altid klar til at servicere dig og svare på eventuelle spørgsmål. Du kan ringe til os, sende en e-mail til os eller
				chatte
				med os.
			</p>
			<p>Tel: 26363139<br />
				E-mail: info@translatedbyus.com
			</p>

			<h4>Direkte kontakt til oversætter</h4>
			<p>
				Har du spørgsmål vedrørende en oversættelse, sætter vi dig i direkte kontakt til oversætteren.
			</p>


			<h4>Igangværende oversættelsesopgaver</h4>
			<p>Du kan som kunde få tilgang til selv at rette termer direkte i din igangværende oversættelsesopgave. Ønskes enkle ord eller sætninger i
				kildeteksten
				ændret undervejs, kan vi sagtens klare det, selvom oversættelsen er i gang.
			</p>
		</div>
		<hr>
		<div class="section">
			<h2 class="text-center">Priser</h2>
			<h4>Flat rate</h4>
			<p>Vores priser er gennemskuelige og beregnes ud fra faste lave ordpriser på henholdsvis 0,79 og 0,99 kr.</p>

			<h4>Ingen minimumspris</h4>
			<p> Vi arbejder ikke med minimumspriser. Ganske enkelt.</p>

			<h4>Budgetplanlægning</h4>
			<p>Ved du allerede inden en tekst er færdigskrevet, hvor mange ord den kommer til at bestå af, kan du nemt beregne din pris selv og
				planlægge dit
				budget.
			</p>
		</div>
		<hr />
		<div class="section">

			<h2 class="text-center">Produktion</h2>
			<h4>Oversættere</h4>
			<p>
				Alle vores oversættere er tilknyttet TranslatedByUs på freelance basis. De er online og klar til at modtage opgaver fra os, som på grund af
				vores
				tætte samarbejde, prioriteres højt.
			</p>
			<p>Alle vores oversættere er eksperter indenfor ét eller flere felter.</p>

			<p>Mange har specialiseret sig indenfor et bestemt område, mens andre er eksperter i at være forbrugere, i at websurfe eller i nutidig
				kommunikation.
			</p>
			<h4>Automation</h4>
			<p>Automation i vores interne system sørger for direkte oprettelse af et projekt, samt direkte match med oversætter. Du skal som kunde derfor ikke
				vente på, at en projektleder får sat opgaven i gang og videresendt den til en oversætter.
			</p>
			<p>

				Automation kan her spare både tid og lønninger, så du kan få din oversættelse hurtigere og billigere.
			</p>
			<h4>Teknologi</h4>
			<p>
				Oversættelseshukommelser og termbaser, sikrer kontinuitet og korrekt termanvendelse i din oversættelse. Vi arbejder med den nyeste teknologi,
				som
				hele tiden forbedres. Her er vi på forkant med udviklingen.
			</p>

			<h4>Sprogpar</h4>
			<p>Vi har specialiseret os i kunne tilbyde en bred vifte af sprogpar. Det har vi gjort ved at tilknytte de bedste oversættere i verden og have dem
				online og klar til at oversætte din tekst. Således tilbyder vi oversættelse til og fra stort set alle sprog.
			</p>
			<h4>Filformater</h4>
			<p>
				Vi kan oversætte i næsten alle filformater: XML, HTML, Indesign, Word, Excel, PowerPoint og mange andre. Vores primære oversættelsesværktøj er
				Memsource.
			</p>
		</div>
		<hr>
		<div class="section">
			<h2 class="text-center">Gode Råd </h2>
			<h4>Den gode kildetekst</h4>
			<p>
				En oversættelse bliver sjældent bedre end kildeteksten.
			</p>
			<p>
				Den gode kildetekst er tjekket for stavefejl, grammatiske fejl og indhold som kan misforstås.
			</p>

			<h4>Lokalisering</h4>
			<p>
				Skal din tekst bare oversættes eller skal den også lokaliseres?
			</p>
			<p>
				Følgende eksempler ønskes ofte lokaliseret:
			</p>

			<ul>
				<li>Valuta</li>
				<li>Webadresser</li>
				<li>Adresser</li>
				<li>Egenavne</li>
				<li>Skrifttegn</li>
			</ul>
			<p>Skal din tekst oversættes til et andet skriftsprog, skal der tages stilling til om egenavne skal omskrives eller bevares i kildetekstens
				skrifttegn.
			</p>

		</div>
		<hr>
		<div class="section">
			<h2 class="text-center">Hvorfor oversættelse?</h2>

			<h4>Salg</h4>
			<p>
				Undersøgelser viser, at flertallet af os er tilbøjelige til kun at købe, hvis produktet bliver præsenteret på vores eget sprog. Lokal
				tilstedeværelse øger google placering og konverteringsgrad. Der er altså penge at hente i oversættelse.
			</p>
			<h4>Tillid</h4>
			<p>
				Undersøgelser viser, at flertallet af os har mere tillid til en tekst skrevet på vores eget sprog. Hvis du gerne vil skabe tillid, kan
				oversættelse
				hjælpe dig godt på vej.
			</p>
			<h4>Forståelse</h4>
			<p>
				Oversættelse sikrer, at modtageren forstår teksten og eventuelle misforståelser undgås. Ja, det er jo altid rart at blive forstået korrekt.
			</p>
			<h4>Krav</h4>
			<p> Der kan være krav om at produktspecifikationer, manualer, advarsler og juridiske dokumenter skal oversættes. Oversættelse er i disse tilfælde en
				nødvendighed.
			</p>

		</div>
		<hr>
		<div class="section">
			<h2 class="text-center">Produkter</h2>
			<h4>Maskinoversættelse: Gratis</h4>
			<p>
				Har du store mængder tekst der skal forstås men ikke offentliggøres, er maskinoversættelse en god løsning, fordi det er gratis og tager ganske
				få
				minutter.
			</p>
			<p>

				Du kan uploade de fleste dokumenttyper eller indtaste din tekst. Få minutter efter sender vi dig en mail med din oversættelse, oversat af vores
				egne
				maskiner.
			</p>
			<p>

				Det, at vi bruger vores egne maskiner gør det sikkert for dig at uploade fortroligt materiale.
			</p>
			<h4>Basis: 79 øre pr. ord</h4>
			<p>
				Vælg basis, hvis du ønsker oversættelse af tekster med lav kompleksitet. Det kan være korte produkttekster, software, enkle manualer, intern
				kommunikation, nyhedsbreve og opdateringer på de sociale medier.
			</p>
			<h4>Business: 99 øre pr. ord</h4>
			<p>
				Vælg business, hvis du ønsker, at der bruges tid på omformuleringer tilpasset det pågældende sprog, så oversættelsen bliver flydende og sproget
				naturligt.
			</p>
			<p>

				Vælg også business, når det drejer sig om specialiseret tekst, der kræver brancheindsigt som f.eks. tekster, der omhandler; produktion,
				teknologi,
				transport, bygningskonstruktion, arkitektur, it, medicin, kosmetik, helse, ernæring, juridiske tekster og faglige artikler.
			</p>

		</div>
	</main>
</div>
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "LocalBusiness",
      "name": "Translated By Us",
      "description":"Oversættelsesbureau - Få oversat din tekst eller hjemmeside i dag! Vi tilbyder hurtig & billig oversættelse uden minimumsgebyr og til 79 øre pr. ord.",
      "address": {
        "@type": "PostalAddress",
        "addressRegion": "Gentofte",
        "postalCode": "2820",
        "streetAddress": "Ellegårdsvej 10, 1.st floor"
      },
      "currenciesAccepted":"DKK",
      "paymentAccepted":"Dankort, Visa, VisaDankort, Mastercard, m.m.",
      "telephone": "23 67 42 72",
      "url": "https://translatedbyus.com/",
      "openingHours": "Mo,Tu,We,Th,Fr,Sa,Su 00:00-23:59",
      "openingHoursSpecification": [
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Mandag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Tirsdag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Onsdag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Torsdag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Fredag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Lørdag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Søndag",
          "opens":  "00:00:00"
        }
      ]
    }
</script>

<script type="application/ld+json">
{
      "@context": "http://schema.org",
      "@type": "Organization",
      "address":{
        "@type": "PostalAddress",
          "addressRegion": "Gentofte",
          "postalCode": "2820",
          "streetAddress": "Ellegårdsvej 10, 1.st floor"
      },
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4.9",
        "reviewCount": "152"
      },
      "areaServed":{
      	"@type":"GeoShape",
        "addressCountry":"Danmark"
      },
      "contactPoint":"",
      "email":"info@translatedbyus.com",
      "hasOfferCatalog":"",
      "location": {
        "@type": "Place",
        "address": {
          "@type": "PostalAddress",
          "addressRegion": "Gentofte",
          "postalCode": "2820",
          "streetAddress": "Ellegårdsvej 10, 1.st floor"
        }
      },
      "logo":"https://translatedbyus.com/assets/img/logo.png",
      "telephone":"23 67 42 72",
      "vatID":"37407887",
      "mainEntityOfPage":{
      	"@type": "CreativeWork",
      	"translator":"Translated By Us"
      },
      "url":"https://translatedbyus.com/",
      "sameAs":[
      "https://www.facebook.com/translatedbyus/",
      "https://www.linkedin.com/company/translated-by-us",
      "https://plus.google.com/+TranslatedByUsGentofte",
      "https://twitter.com/tbu_world_wide"],
      "name":"Translated By Us"
}
</script>
<script type="application/ld+json">
{
      "@context": "http://schema.org",
      "@type": "Service",
      "name":"Translated By Us",
      "offers":[
      {
        "@type": "Offer",
        "price": "0",
        "priceCurrency":"DKK",
        "description":"pr. ord",
        "name":"Maskin-oversættelse",
	    "description":"Egner sig til overordnet forståelse af tekstindhold. Kryptering sikrer fortroligt materiale. Andre gratis tilbud på nettet er ikke sikret."
      },
      {
        "@type": "Offer",
        "price": "0.79",
        "priceCurrency":"DKK",
        "description":"pr. ord",
        "name":"Basis oversættelse",
	    "description":"Egner sig til: Juridiske tekster, Financielle rapporter, Præsentationer, Kataloger og flyers, Manualer, Faglige artikler"
      },
      {
        "@type": "Offer",
        "price": "0.99",
        "priceCurrency":"DKK",
        "description":"pr. ord",
        "name":"Business translation",
	    "description":"Egner sig til: Juridiske tekster, Financielle rapporter, Præsentationer, Kataloger og flyers, Manualer, Faglige artikler"
      }
      ],
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4.9",
        "reviewCount": "152"
      },
      "areaServed":{
      	"@type":"GeoShape",
        "addressCountry":"Danmark"
      },
      "provider":"Translated By Us"
}
</script>
<script type='application/ld+json'>
{
  "@context":"http://schema.org",
  "@type":"WebPage",
  "url":"https://translatedbyus.com/om-os",
  "name":"Oversættelsesbureau - Oversættelse af mere end 800 sprogkombinationer.",
  "description":"Translated By Us er dit oversættelsesbureau, der tilbyder professionel oversættelse af tekst eller hjemmesider. Hurtig levering til gode priser. Kontakt os i dag!",
  "about":"Om os",
  "author":"Translated By Us",
  "dateCreated":"",
  "headline":"Om os",
  "hasPart":"Translator",
  "isFamilyFriendly":"True",
  "keywords":"om os, Oversættelse, oversættelser, Translated By Us, Translated, Oversæt, Oversættelsesbureau",
  "mainEntity":"Om os",
  "translator":"Translated By Us"
}
</script>