<div class="container-fluid section-persons">
	<div class="container">
		<main>
			<h1 class="text-center">Oversættere</h1>
			<h2 class="text-center section-title">Herunder et lille udvalg af vores bedste oversættere</h2>
			<div class="section">
				<div class="row">
					<div class="col-sm-3 person-image">
						<img src="assets/img/persons/staffan.jpg" class="img-responsive img-circle" />
					</div>
					<div class="col-sm-9 validering-feature person-wrap">
						<h3 class="person-name">Staffan – svensk oversætter</h3>
						<div class="person-info">
							47 år, 16 år som oversætter<br />
							Specialiseret i: data, IT, software, økonomi, militær
						</div>
						<div class="person-desc">
							<h4>Den gode opgave:</h4>
							<p>Jeg kan godt lide projekter med en klar identitet, så oversættelsen har et klart mål og en klar vision. Det er altid en sjov udfordring, og meget tilfredsstillende, når det bliver godt.</p>
		 
		 					<h4>Den værste opgave:</h4>
							<p>Jeg husker en række manualer til simple husholdningsapparater fra Kina, hvor personen, som havde oversat fra kinesisk til engelsk tydeligvis har haft en meget original og særegen tolkning af det engelske sprog, hvilket gjorde kildeteksten praktisk talt ulæselig.</p>
		 
		 					<h4>Den skøreste opgave:</h4>
							<p>Jeg fik til opgave at oversætte et Youtube-klip med sketchen "Achmed, the Dead Terrorist" af Jeff Dunham før en mulig retssag! "Silence, I kill you!"</p>
		 				</div>
	 				</div>
				</div>
			</div>
			<div class="section">
				<div class="row">
					<div class="col-sm-3 person-image">
						<img src="assets/img/persons/louise.jpg" class="img-responsive img-circle" />
					</div>
					<div class="col-sm-9 validering-feature person-wrap">
						<h3 class="person-name">Louise – engelsk oversætter</h3>
						<div class="person-info">
							49 år, 18+ år som oversætter<br />
							Specialiseret i: kunst, turisme, mad og vin, mode, skønhedsprodukter, marketing
						</div>
						<div class="person-desc">
							<h4>Den gode opgave:</h4>
							<p>
								Jeg er i mit rette element når jeg skal oversætte en udfordrende kreativ tekst – noget som jeg virkelig kan dykke ned i! Der er ikke noget mere tilfredsstillende end at komme med en rigtig god løsning på en tekst, som i første omgang virker umulig at oversætte.
							</p>
		 
		 					<h4>Den værste opgave:</h4>
							<p>
								Det er svært at pege på en enkelt opgave som min værste opgave – der har været nogle stykker gennem årene! Erfaring har lært mig, at undgå finansielle rapporter og tunge tekniske tekster af hensyn til min egen sunde fornuft.
							</p>
		 
		 					<h4>Den skøreste opgave:</h4>
							<p>
								Den skøreste opgave jeg har haft, kan også kvalificeres som ‘Den gode opgave’ – en reklamekampagne fuld af danske ordspil og talemåder. Som oversætter af tekster inden for kunst og marketing, er jeg stødt på en hel del skørt gennem mit arbejde. Skørt er fint med mig :)
							</p>
	 					</div>
					</div>
				</div>
			</div>
			<div class="section">
				<div class="row">
					<div class="col-sm-3 person-image">
						<img src="assets/img/persons/eirik.jpg" class="img-responsive img-circle" />
					</div>
					<div class="col-sm-9 validering-feature person-wrap">
						<h3 class="person-name">Eirik – norsk oversætter</h3>

						<div class="person-info">
							24 år, 6 år som oversætter<br />
							Specialiseret i: rejser, IT, litteratur, politik og samfundsfag
						</div>

						<div class="person-desc">
							<h4>Den gode opgave:</h4>
							<p>
								Af og til kan det være fint at få en enkel tekst, hvor man føler at arbejdet er overstået i et snuptag og at resultatet er godt og flydende. Samtidig kan det også være spændende med større udfordringer. Måske er det lidt sådan at den gode opgave varierer alt efter hvor oplagt man er.
							</p>
		 
		 					<h4>Den værste opgave:</h4>
							<p>
								Det værst tænkelige er måske nok maskinoversatte tekster, som tager længere tid at redigere til noget forståeligt end det ville have taget at oversætte dem fra bunden. Det er særligt vanskeligt, hvis man ikke har originalen til hjælp.
							</p>
		 
		 					<h4>Den skøreste opgave:</h4>
							<p>
								Det er altid sjovt at få en opgave, som kræver lidt detektivarbejde for at finde frem til specialiseret fagterminologi i internettets kringelkroge. Sidst jeg stod med sådan en udfordring, drejede det sig om et par eksaminer i termodynamik. Så er det rart at have en fagkonsulent at rådføre sig med.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="section">
				<div class="row">
					<div class="col-sm-3 person-image">
						<img src="assets/img/persons/annemarie.jpg" class="img-responsive img-circle" />
					</div>
					<div class="col-sm-9 validering-feature person-wrap">
						<h3 class="person-name">Annemarie – tysk oversætter</h3>

						<div class="person-info">
							57 år, 30 år som oversætter<br />
							Specialiseret i: jura, business, marketing, IT, miljø, psykologi, politik
						</div>

						<div class="person-desc">
							<h4>Den gode opgave:</h4>
							<p>
								Den gode opgave er den nemme opgave med mange gentagelser, så det bare går derudad :)					
							</p>
		 
		 					<h4>Den værste opgave:</h4>
							<p>
								Den værste opgave jeg har haft var en juridisk tekst skrevet på engelsk af en italiener med dårligt kendskab til engelsk.
							</p>
		 
		 					<h4>Den skøreste opgave:</h4>
							<p>
								Flere gange har jeg skullet oversætte omkring 10.000 ord på et døgn. Godt nok er jeg hurtig, men med sådanne opgaver bliver jeg nødt til at arbejde til langt ud på natten for at nå det. 
							</p>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</div>

<div class="container-fluid section-white">
	<div class="container">
		<main>
			<div class="section usps">
				<div class="row">
					<div class="col-sm-6">
						<div class="usp">
							<div class="row">
								<div class="col-xs-2 col-lg-2">
									<div class="usp-image">
										<img src="assets/img/icons/virksomhed-oversaettelse-oversaettelsesbureau.png" class="img-responsive" width="68"  srcset="assets/img/icons/virksomhed-oversaettelse-oversaettelsesbureau@2x.png 2x" />
									</div>
								</div>
								<div class="col-xs-10 col-lg-10">
									<div class="usp-statement">
										<h2 class="h2-small">Oversættere i hele verden</h2>
										<p>
											Vores kartotek af oversættere udvides konstant med nye oversættere fra hele verden. Nogle har mange års erfaring, mens andre er helt nye talenter.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="usp">
							<div class="row">
								<div class="col-xs-2 col-lg-2">
									<div class="usp-image">
										<img src="assets/img/icons/certyficate.png" class="img-responsive" width="68"  srcset="assets/img/icons/certyficate@2x.png 2x" />
									</div>
								</div>
								<div class="col-xs-10 col-lg-10">
									<div class="usp-statement">
										<h2 class="h2-small">Kvalitet</h2>
										<p>
											Alle oversættere skal bestå en optagelsesprøve og bliver løbende testet. Vores interne rating-system alarmerer os ved svingende kvalitet. På denne måde sørger vi for, at vi kun samarbejder med de bedste oversættere i verden.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="usp">
							<div class="row">
								<div class="col-xs-2 col-lg-2">
									<div class="usp-image">
										<img src="assets/img/icons/kontakt-oversaetter-oversaettelsesbureau.png" class="img-responsive" width="68"  srcset="assets/img/icons/kontakt-oversaetter-oversaettelsesbureau@2x.png 2x" />
									</div>
								</div>
								<div class="col-xs-10 col-lg-10">
									<div class="usp-statement">
										<h2 class="h2-small">Direkte kontakt til oversætter</h2>
										<p>
											Har du spørgsmål vedrørende en oversættelse eller har en oversætter spørgsmål til dig, sætter vi jer i direkte kontakt med hinanden.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="usp">
							<div class="row">
								<div class="col-xs-2 col-lg-2">
									<div class="usp-image">
										<img src="assets/img/icons/deadline.png" class="img-responsive" width="68"  srcset="assets/img/icons/deadline@2x.png 2x" />
									</div>
								</div>
								<div class="col-xs-10 col-lg-10">
									<div class="usp-statement">
										<h2 class="h2-small">Deadlines</h2>
										<p>
											I oversættelsesbranchen er vi vant til skarpe deadlines. Oversætterne er online og klar til at modtage opgaver fra os, som på grund af vores tætte samarbejde, prioriteres højt og altid leveres til tiden.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="usp">
							<div class="row">
								<div class="col-xs-2 col-sm-1">
									<div class="usp-image">
										<img src="assets/img/icons/oversaettelsesbureau-800-sprogkombinationer.png" class="img-responsive" width="68"  srcset="assets/img/icons/oversaettelsesbureau-800-sprogkombinationer@2x.png 2x" />
									</div>
								</div>
								<div class="col-xs-10 col-sm-11">
									<div class="usp-statement">
										<h2 class="h2-small">Specialer</h2>
										<p>
											Alle vores oversættere er eksperter indenfor ét eller flere felter. Mange har specialiseret sig indenfor et bestemt område, såsom marketing, teknik, jura, elektronik, fashion, ernæring, landbrug, produktion, økonomi, medicin osv. mens andre er eksperter i at være forbrugere, i at websurfe eller i nutidig kommunikation. Fælles for dem alle er en stærk interesse for det skrevne sprog.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</div>
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "LocalBusiness",
      "name": "Translated By Us",
      "description":"Oversættelsesbureau - Få oversat din tekst eller hjemmeside i dag! Vi tilbyder hurtig & billig oversættelse uden minimumsgebyr og til 79 øre pr. ord.",
      "address": {
        "@type": "PostalAddress",
        "addressRegion": "Gentofte",
        "postalCode": "2820",
        "streetAddress": "Ellegårdsvej 10, 1.st floor"
      },
      "currenciesAccepted":"DKK",
      "paymentAccepted":"Dankort, Visa, VisaDankort, Mastercard, m.m.",
      "telephone": "23 67 42 72",
      "url": "https://translatedbyus.com/",
      "openingHours": "Mo,Tu,We,Th,Fr,Sa,Su 00:00-23:59",
      "openingHoursSpecification": [
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Mandag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Tirsdag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Onsdag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Torsdag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Fredag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Lørdag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Søndag",
          "opens":  "00:00:00"
        }
      ]
    }
</script>

<script type="application/ld+json">
{
      "@context": "http://schema.org",
      "@type": "Organization",
      "address":{
        "@type": "PostalAddress",
          "addressRegion": "Gentofte",
          "postalCode": "2820",
          "streetAddress": "Ellegårdsvej 10, 1.st floor"
      },
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4.9",
        "reviewCount": "152"
      },
      "areaServed":{
      	"@type":"GeoShape",
        "addressCountry":"Danmark"
      },
      "contactPoint":"",
      "email":"info@translatedbyus.com",
      "hasOfferCatalog":"",
      "location": {
        "@type": "Place",
        "address": {
          "@type": "PostalAddress",
          "addressRegion": "Gentofte",
          "postalCode": "2820",
          "streetAddress": "Ellegårdsvej 10, 1.st floor"
        }
      },
      "logo":"https://translatedbyus.com/assets/img/logo.png",
      "telephone":"23 67 42 72",
      "vatID":"37407887",
      "mainEntityOfPage":{
      	"@type": "CreativeWork",
      	"translator":"Translated By Us"
      },
      "url":"https://translatedbyus.com/",
      "sameAs":[
      "https://www.facebook.com/translatedbyus/",
      "https://www.linkedin.com/company/translated-by-us",
      "https://plus.google.com/+TranslatedByUsGentofte",
      "https://twitter.com/tbu_world_wide"],
      "name":"Translated By Us"
}
</script>
<script type="application/ld+json">
{
      "@context": "http://schema.org",
      "@type": "Service",
      "name":"Translated By Us",
      "offers":[
      {
        "@type": "Offer",
        "price": "0",
        "priceCurrency":"DKK",
        "description":"pr. ord",
        "name":"Maskin-oversættelse",
	    "description":"Egner sig til overordnet forståelse af tekstindhold. Kryptering sikrer fortroligt materiale. Andre gratis tilbud på nettet er ikke sikret."
      },
      {
        "@type": "Offer",
        "price": "0.79",
        "priceCurrency":"DKK",
        "description":"pr. ord",
        "name":"Basis oversættelse",
	    "description":"Egner sig til: Juridiske tekster, Financielle rapporter, Præsentationer, Kataloger og flyers, Manualer, Faglige artikler"
      },
      {
        "@type": "Offer",
        "price": "0.99",
        "priceCurrency":"DKK",
        "description":"pr. ord",
        "name":"Business translation",
	    "description":"Egner sig til: Juridiske tekster, Financielle rapporter, Præsentationer, Kataloger og flyers, Manualer, Faglige artikler"
      }
      ],
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4.9",
        "reviewCount": "152"
      },
      "areaServed":{
      	"@type":"GeoShape",
        "addressCountry":"Danmark"
      },
      "provider":"Translated By Us"
}
</script>
<script type='application/ld+json'>
{
  "@context":"http://schema.org",
  "@type":"WebPage",
  "url":"https://translatedbyus.com/oversaettere",
  "name":"Oversættere - Her er et udvalg af vores bedste oversættere",
  "about":"Oversættere - Herunder et lille udvalg af vores bedste oversættere",
  "author":"Translated By Us",
  "dateCreated":"",
  "headline":"Oversættere",
  "hasPart":"Translator",
  "isFamilyFriendly":"True",
  "keywords":"om os, Oversættelse, oversættelser, Translated By Us, Translated, Oversæt, Oversættelsesbureau",
  "mainEntity":"Oversættere",
  "translator":"Translated By Us"
}
</script>