<div class="container">
	<main>
		<div ng-controller="ArchiveController as archiveCtrl">
			<div class="section">
				<h1 class="text-center">Oversættelser i tal</h1>

				<p>Vi kan efterhånden se, at der tegner sig et billede af, at vores kunder allerede inden for det første år som kunde, øger antallet af sprog deres hjemmeside henvender sig til.</p>

				<p>Det mest bestilte sprogpar er dansk til engelsk og engelsk til dansk.</p>

				<p>På listen forneden kan man se alle de sprog vi oversætter til og fra. Danske virksomheder er generelt gode til at gå ind på nye markeder, hvilket er tydeligt, når der kigges på statistikken.</p>

				<p>Som det kan ses på diagrammet, så bliver der oversat mest til og fra, de lande vi grænser op til, eller ligger meget tæt på.</p>

			</div>
			<div class="section">
				<div class="row">
					<div class="col-lg-6">
						<div>
							<div id="chart_pairs"></div>
						</div>
					</div>
					<div class="col-lg-6">
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<th></th>
									<th>%</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Dansk > Engelsk</td>
									<td>12,11</td>
								</tr>
								<tr>
									<td>Engelsk > Dansk</td>
									<td>8,35</td>
								</tr>
								<tr>
									<td>Engelsk > Svensk</td>
									<td>6,79</td>
								</tr>
								<tr>
									<td>Dansk > Svensk</td>
									<td>6,71</td>
								</tr>
								<tr>
									<td>Dansk > Finsk</td>
									<td>7,85</td>
								</tr>
								<tr>
									<td>Dansk > Norsk</td>
									<td>5,22</td>
								</tr>
								<tr>
									<td>Dansk > Hollandsk</td>
									<td>4,02</td>
								</tr>
								<tr>
									<td>Dansk > Fransk</td>
									<td>3,14</td>
								</tr>
								<tr>
									<td>Dansk > Tysk</td>
									<td>4,99</td>
								</tr>
								<tr>
									<td>All other language pairs</td>
									<td>40,82</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="section">
				<p class="text-center">40% af oversættelser er til resten af verden og på verdenskortet forneden er en oversigt.</p.text-center>
				<p class="lead text-center"><img src="assets/img/worldmap.png" class="img-responsive"/></p>
				<div>
					<div id="chart_world"></div>
				</div>
			</div>
			<div class="section">
				<h2 class="text-center">Typer af tekster</h2>
				<p>Typen er oversættelse vi laver, strækker sig vidt og bredt. Størstedelen af vores oversættelser drejer sig om oversættelser af webshops. Det er hovedsageligt produktrelateret, nærmere betegnet oversættelser af specifikke produkttekster.</p>

				<p>Derfor er det meget naturligt, at noget som produkttekster ligger højt på listen.</p>
				<div class="row">
					<div class="col-lg-6">

						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<th>Typer af tekster</th>
									<th>%</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Produkttekster</td>
									<td>18</td>
								</tr>
								<tr>
									<td>Emballage</td>
									<td>17</td>
								</tr>
								<tr>
									<td>Marketing</td>
									<td>17</td>
								</tr>
								<tr>
									<td>Tekniske manualer</td>
									<td>13</td>
								</tr>
								<tr>
									<td>Juridiske tekster</td>
									<td>13</td>
								</tr>
								<tr>
									<td>Faglige artikler</td>
									<td>8</td>
								</tr>
								<tr>
									<td>Præsentationer</td>
									<td>7</td>
								</tr>
								<tr>
									<td>Diverse</td>
									<td>7</td>
								</tr>
							</tbody>
						</table>

					</div>
					<div class="col-lg-6">
						<div>
							<div id="chart_types"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="section">
				<h2 class="text-center">Typer af kvalitet</h2>
				<p>Vi tilbyder forskellige produkter til forskellige behov. Vi ser en stor stigning i ren <strong>Maskinoversættelse</strong>, samt <strong>Basis</strong>. Topscoreren er dog stadigvæk <strong>Business</strong>.</p>

				<h3>Maskinoversættelse</h3>

				<p>Maskinoversættelse er en automatisk oversættelse fra et sprog til et andet, hvor hovedformålet er, at oversættelsen er forståelig i alt sin enkelthed.</p>

				<p>Ved lange og tunge tekster, kan maskinoversættelse være rigtigt effektivt.</p>

				<p>Et godt eksempel på materiale der typisk er meget tungt, er udbudsmateriale (RFQ, RFI IFB etc.). Her er det ikke usævanligt, at man får tilsendt 50-80 sider der skal læses, og er det skrevet på et fremmedsprog, kan det være rigtig svært at få den gode forståelse.</p>

				<p>Det er ofte konsulenthuse, banker og institutioner der får udleveret disse tunge materialer, som gerne skulle kunne læses og forstås indenfor meget kort tid, uden tid eller økonomi til at købe en traditionel oversættelse. Det påpeges dog, at det ikke kun er konsulenthuse, banker og institutioner der har muligheden for, at få oversat lange tekster.</p>

				<p><strong>Maskinoversættelse</strong> beregner automatisk oversættelse fra et sprog til et andet, på basis af en stor statistisk database, suppleret af en række komplicerede grammatiske regler.</p>

				<h3>Basis</h3>

				<p>Basis ydelsen henvender sig mest til mindre kompliceret materiale. Altså materiale hvor det ikke er nødvendigt at have en specialist med inde over oversættelsesprocessen.</p> 

				<p>Basis bliver typisk til produkttekster til slutforbrugere på et ikke teknisk niveau. Her er det vigtigt at kommunikere på samme sprog som den potentielle kunde.</p> 

				<p>Privatpersoner er også begyndt at bestille basis kvalitet til lejekontrakter, servitutter eller andet der skal oversættes til tysk, da den netop skal fremlejes til en tysker. Det kan også være et privatsalg, som kræver et juridisk dokument på både det ene og andet sprog.</p> 

				<h4>Oversættelse af produkttekster</h4>

				<p>Basis ydelsen passer desuden også rigtig godt til oversættelser af produkttekster, der er mindre end 100 ord. Her er det meget vigtigt at forstå, at der ikke bliver gået på kompromis med kvaliteten af arbejdet.</p> 

				<p>Typisk indeholder en oversættelse af en produkttekst på under 100 ord kun 2-4 sætninger samt nogle angivelser af farve, størrelse vgt eller lign. - så her kan man med stor fordel benytte en forbruger som oversætter.</p>

				<p>Inddrages der eksempelvis en højt uddannet inden for et bestemt område i oversættelsen, opstår der en risiko for, at der bliver brugt for meget tid på, at ramme et for højt niveau af kvalitet.</p>

				<p>Hvis man har lyst, så kan man gør brug af valideringen fra starten af, så vi får lagt en linje for termer, sprogbrug og ordstillinger. Det hjælper vores oversættere til hurtigt at lære stil og tone uden at begå det som nemt kan opfattes som fejl, i tilfælde af at teskten afviger fra interne oversættelsespolitikker.</p>

				<h3>Business</h3>

				<p>Når en tekst opnår en vis form for kompleksitet - det kan være et specifikt emneområde - så er det nødvendigt at vælge Business.</p>

				<p>Det er primært specialiserede virksomheder inden for et emneområde, der benytter sig af denne ydelse.</p>

				<p>Her bliver der fundet en specialist, der matcher virksomheden inden for det samme emneområde, så oversætteren allerede har en vis form for erfaring og forståelse for området. Det giver selvsagt en kæmpemæssig fordel, når det kommer til oversættelsen.</p>

				<p>For at komme med et godt eksempel, så anvender vi ofte studerende fra designskoler i stedet for ældre oversættere med en lingvistisk uddannelse. Det drejer sig ofte om de små detaljer, som at jeans ikke skal oversættes til cowboybukser. Det er her det gælder om at finde en god oversætter der har et moderne flair i sit sprog.</p>

				<p><a href="validering">Validering</a> er også at foretrække her, da det ofte er svært at lave en sådan oversættelse der sidder lige i skabet. Valideringen er med til at vi lærer hinanden at kende samt gøre de fremtidige oversættelser bedre og bedre.</p>

				<br>
				<br>


				<div class="row">
					<div class="col-lg-6">
						<div>
							<div id="chart_quality"></div>
						</div>

					</div>
					<div class="col-lg-6">
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<th>Typer af kvalitet</th>
									<th>%</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Maskinoversættelse</td>
									<td>11</td>
								</tr>
								<tr>
									<td>Basis</td>
									<td>22</td>
								</tr>
								<tr>
									<td>Business</td>
									<td>67</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>
			<div class="section">
				<h2 class="text-center">Dokument formater</h2>
				<p>Her illustrerer vi, at vi kan oversætte i alle moderne formater - også alt der har en kodet struktur; HTML, XML m.fl.</p>

				<p>Det er tydeligt, at officepakken stadig er meget populær. Vi ser dog en spændende udvikling i, at de andre formater er på vej ind på listen over de mest oversatte fil-typer. Vi oversætter i mange andre formater end de listede så kontakt os hvis du har spørgsmål eller læs mere på vores side om <a href="oversaet-hjemmeside">hjemmesideoversættelser</a>.</p>
				<div>
					<div id="chart_formats"></div>
				</div>
			</div>
		</div>
	</main>
</div>
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "LocalBusiness",
      "name": "Translated By Us",
      "description":"Oversættelsesbureau - Få oversat din tekst eller hjemmeside i dag! Vi tilbyder hurtig & billig oversættelse uden minimumsgebyr og til 79 øre pr. ord.",
      "address": {
        "@type": "PostalAddress",
        "addressRegion": "Gentofte",
        "postalCode": "2820",
        "streetAddress": "Ellegårdsvej 10, 1.st floor"
      },
      "currenciesAccepted":"DKK",
      "paymentAccepted":"Dankort, Visa, VisaDankort, Mastercard, m.m.",
      "telephone": "23 67 42 72",
      "url": "https://translatedbyus.com/",
      "openingHours": "Mo,Tu,We,Th,Fr,Sa,Su 00:00-23:59",
      "openingHoursSpecification": [
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Mandag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Tirsdag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Onsdag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Torsdag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Fredag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Lørdag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Søndag",
          "opens":  "00:00:00"
        }
      ]
    }
</script>

<script type="application/ld+json">
{
      "@context": "http://schema.org",
      "@type": "Organization",
      "address":{
        "@type": "PostalAddress",
          "addressRegion": "Gentofte",
          "postalCode": "2820",
          "streetAddress": "Ellegårdsvej 10, 1.st floor"
      },
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4.9",
        "reviewCount": "152"
      },
      "areaServed":{
      	"@type":"GeoShape",
        "addressCountry":"Danmark"
      },
      "contactPoint":"",
      "email":"info@translatedbyus.com",
      "hasOfferCatalog":"",
      "location": {
        "@type": "Place",
        "address": {
          "@type": "PostalAddress",
          "addressRegion": "Gentofte",
          "postalCode": "2820",
          "streetAddress": "Ellegårdsvej 10, 1.st floor"
        }
      },
      "logo":"https://translatedbyus.com/assets/img/logo.png",
      "telephone":"23 67 42 72",
      "vatID":"37407887",
      "mainEntityOfPage":{
      	"@type": "CreativeWork",
      	"translator":"Translated By Us"
      },
      "url":"https://translatedbyus.com/",
      "sameAs":[
      "https://www.facebook.com/translatedbyus/",
      "https://www.linkedin.com/company/translated-by-us",
      "https://plus.google.com/+TranslatedByUsGentofte",
      "https://twitter.com/tbu_world_wide"],
      "name":"Translated By Us"
}
</script>
<script type="application/ld+json">
{
      "@context": "http://schema.org",
      "@type": "Service",
      "name":"Translated By Us",
      "offers":[
      {
        "@type": "Offer",
        "price": "0",
        "priceCurrency":"DKK",
        "description":"pr. ord",
        "name":"Maskin-oversættelse",
	    "description":"Egner sig til overordnet forståelse af tekstindhold. Kryptering sikrer fortroligt materiale. Andre gratis tilbud på nettet er ikke sikret."
      },
      {
        "@type": "Offer",
        "price": "0.79",
        "priceCurrency":"DKK",
        "description":"pr. ord",
        "name":"Basis oversættelse",
	    "description":"Egner sig til: Juridiske tekster, Financielle rapporter, Præsentationer, Kataloger og flyers, Manualer, Faglige artikler"
      },
      {
        "@type": "Offer",
        "price": "0.99",
        "priceCurrency":"DKK",
        "description":"pr. ord",
        "name":"Business translation",
	    "description":"Egner sig til: Juridiske tekster, Financielle rapporter, Præsentationer, Kataloger og flyers, Manualer, Faglige artikler"
      }
      ],
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4.9",
        "reviewCount": "152"
      },
      "areaServed":{
      	"@type":"GeoShape",
        "addressCountry":"Danmark"
      },
      "provider":"Translated By Us"
}
</script>
<script type='application/ld+json'>
{
  "@context":"http://schema.org",
  "@type":"WebPage",
  "url":"https://translatedbyus.com/oversaettelsesdata",
  "name":"Oversættelsesdata for hvilke teksttype samt sprog der bliver oversat.",
  "description":"Vi oversætter mangle forskellige sprog og typer af tekster. Bliver der mon oversat flest produkttekster eller tekniske manualer?",
  "about":"Oversættelser i tal",
  "author":"Translated By Us",
  "dateCreated":"",
  "headline":"Oversættelser i tal",
  "hasPart":"Translator",
  "isFamilyFriendly":"True",
  "keywords":"om os, Oversættelse, oversættelser, Translated By Us, Translated, Oversæt, oversættelser i tal, Oversættelsesbureau",
  "mainEntity":"Oversættelser i tal",
  "translator":"Translated By Us"
}
</script>