<div class="container">
	<main>
		<div ng-controller="PrivatController as privatCtrl">
			<div class="section privat">
				<h1>Oversættelse af private dokumenter</h1>
				<p>Som privatperson kan man komme i situationer, hvor der er brug for professionel oversættelse og efterfølgende legalisering. Hvis du leder efter en god maskinoversættelse kan <a href="https://www.bing.com/translator" target="_blank">Microsoft Bing</a> anbefales.</p>

				<h2>Vi er specialister i oversættelse og legalisering af følgende dokumenter:</h2>
				<ul>
					<li>Vielsesattest</li>
					<li>Dåbsattest</li>
					<li>Dødsattest</li>
					<li>Skilsmissepapirer</li>
					<li>Testamente</li>
				</ul>

				<h2>Vi gør følgende:</h2>

				<ol>
					<li>Oversætter dokumentet.</li>
					<li>Sørger for notarpåtegning, som er nødvendig for at få dokumentet legaliseret.  </li>
					<li>Legaliserer dokumentet med et Apostille-stempel i Udenrigsministeriet</li>
					<li>Afsender dokumentet til din adresse med rekommanderet post.</li>
				</ol>

				<h2>Prisen beregnes ud fra følgende:</h2>
				<ul>
					<li> Antal ord i dokumentet med en minimumspris på DKK 750,- inklusive moms.</li>
					<li> Notarpåtegning</li>
					<li> Legalisering</li>
					<li> Cykelbud til og fra Udenrigsministeriet</li>
					<li> Forsendelse </li>
				</ul>

				<p>Ordprisen for oversættelse af scannede dokumenter, ligger på DKK 2,20 inklusive moms.</p>
				<p>Ordantallet beregnes ud fra det oversatte dokument.</p>

				<h2>Transskribering af håndskrevne dokumenter </h2>
				<p>Som privatperson kan man også komme i situationer, hvor man har brug for at få transskriberet en gammel håndskrevet servitut eller et skøde.</p>

				<p>Prisen for transskribering afregnes på timebasis. Timeprisen er DKK 625,- inklusive moms.</p>

				<h2>Inden opgaven sættes i gang</h2>
				<p>Når du har uploadet de dokumenter, der skal oversættes eller transskriberes, modtager du et tilbud fra os.</p>
				<p>Først når tilbuddet accepteres, sættes opgaven i gang. Tilbuddet accepteres ved at indbetale det totale beløb anført i tilbuddet. Først når betalingen er registreret sættes opgaven i gang.</p>

			</div>
			<div class="section order-website">
				<div class="row">
					<div class="col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">

						<h3>Udfyld formularen og få en pris</h3>

						<form name="privatCtrl.formdom" class="order-steps">
							<div class="form-group">
								<label for="name">Navn</label>
								<input type="text" class="form-control" id="name" name="name"  ng-model="privatCtrl.form.name" required="required" />
							</div>
							<div class="form-group">
								<label for="email">Indtast e-mail addresse</label>
								<input type="email" class="form-control" id="email" name="email" placeholder="din@email.dk" ng-model="privatCtrl.form.email" required="required" />
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-xs-6">
										<label for="fromlanguage">Fra</label>
										<select chosen id="fromlanguage" ng-model="privatCtrl.form.fromlanguage" ng-options="fromlang.id as fromlang.name for fromlang in privatCtrl.langs" class="form-control" ng-if="privatCtrl.langs" placeholder-text-single="'Vælg sprog'" ng-change="count_words()" required="required">
											<option value=""></option>
										</select>
									</div>
									<div class="col-xs-6">
										<label for="tolanguage">Til</label>
										<select chosen multiple id="tolanguage" ng-model="privatCtrl.form.tolanguage" ng-options="tolang.id as tolang.name for tolang in privatCtrl.langs" class="form-control" ng-if="privatCtrl.langs" placeholder-text-multiple="'Vælg ét eller flere sprog'" ng-change="count_words()" required="required">
											<option value=""></option>
										</select>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="instructions">Instruktions</label>
								<textarea class="form-control" id="instructions" name="instructions" placeholder="Skriv dine instrukser her" ng-model="privatCtrl.form.instructions"></textarea>
							</div>
							<div class="form-group tbu-dropzone" ng-class="{'hasfiles': privatCtrl.form.files}" ng-dropzone dropzone="privatCtrl.dropzone" dropzone-config="privatCtrl.dropzoneConfig" event-handlers="{ 'successmultiple': privatCtrl.dropzone_successmultiple, 'sending': privatCtrl.dropzone_sending }">
								<div class="fallback">
									<input name="file" type="file" />
								</div>
								<div class="uploader dz-default dz-message">
									<p>...eller klik her for at uploade filer <i class="fa fa-upload"></i></p>
								</div>
								<div class="dropzone-previews"></div>
							</div>
							<button type="submit" class="btn btn-success btn-lg btn-block" ng-click="send()" ng-disabled="privatCtrl.formdom.$invalid || privatCtrl.form.files == false || privatCtrl.sending"><span class="glyphicon glyphicon-refresh spinning" ng-if="privatCtrl.sending"></span> Send mig en pris</button>
							<div class="alert alert-success" ng-if="privatCtrl.message">{{ privatCtrl.message }}</div>
						</form>

					</div>
				</div>
			</div>
		</div>
	</main>
</div>
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "LocalBusiness",
      "name": "Translated By Us",
      "description":"Oversættelsesbureau - Få oversat din tekst eller hjemmeside i dag! Vi tilbyder hurtig & billig oversættelse uden minimumsgebyr og til 79 øre pr. ord.",
      "address": {
        "@type": "PostalAddress",
        "addressRegion": "Gentofte",
        "postalCode": "2820",
        "streetAddress": "Ellegårdsvej 10, 1.st floor"
      },
      "currenciesAccepted":"DKK",
      "paymentAccepted":"Dankort, Visa, VisaDankort, Mastercard, m.m.",
      "telephone": "23 67 42 72",
      "url": "https://translatedbyus.com/",
      "openingHours": "Mo,Tu,We,Th,Fr,Sa,Su 00:00-23:59",
      "openingHoursSpecification": [
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Mandag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Tirsdag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Onsdag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Torsdag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Fredag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Lørdag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Søndag",
          "opens":  "00:00:00"
        }
      ]
    }
</script>

<script type="application/ld+json">
{
      "@context": "http://schema.org",
      "@type": "Organization",
      "address":{
        "@type": "PostalAddress",
          "addressRegion": "Gentofte",
          "postalCode": "2820",
          "streetAddress": "Ellegårdsvej 10, 1.st floor"
      },
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4.9",
        "reviewCount": "152"
      },
      "areaServed":{
      	"@type":"GeoShape",
        "addressCountry":"Danmark"
      },
      "contactPoint":"",
      "email":"info@translatedbyus.com",
      "hasOfferCatalog":"",
      "location": {
        "@type": "Place",
        "address": {
          "@type": "PostalAddress",
          "addressRegion": "Gentofte",
          "postalCode": "2820",
          "streetAddress": "Ellegårdsvej 10, 1.st floor"
        }
      },
      "logo":"https://translatedbyus.com/assets/img/logo.png",
      "telephone":"23 67 42 72",
      "vatID":"37407887",
      "mainEntityOfPage":{
      	"@type": "CreativeWork",
      	"translator":"Translated By Us"
      },
      "url":"https://translatedbyus.com/",
      "sameAs":[
      "https://www.facebook.com/translatedbyus/",
      "https://www.linkedin.com/company/translated-by-us",
      "https://plus.google.com/+TranslatedByUsGentofte",
      "https://twitter.com/tbu_world_wide"],
      "name":"Translated By Us"
}
</script>
<script type="application/ld+json">
{
      "@context": "http://schema.org",
      "@type": "Service",
      "name":"Translated By Us",
      "offers":[
      {
        "@type": "Offer",
        "price": "0",
        "priceCurrency":"DKK",
        "description":"pr. ord",
        "name":"Maskin-oversættelse",
	    "description":"Egner sig til overordnet forståelse af tekstindhold. Kryptering sikrer fortroligt materiale. Andre gratis tilbud på nettet er ikke sikret."
      },
      {
        "@type": "Offer",
        "price": "0.79",
        "priceCurrency":"DKK",
        "description":"pr. ord",
        "name":"Basis oversættelse",
	    "description":"Egner sig til: Juridiske tekster, Financielle rapporter, Præsentationer, Kataloger og flyers, Manualer, Faglige artikler"
      },
      {
        "@type": "Offer",
        "price": "0.99",
        "priceCurrency":"DKK",
        "description":"pr. ord",
        "name":"Business translation",
	    "description":"Egner sig til: Juridiske tekster, Financielle rapporter, Præsentationer, Kataloger og flyers, Manualer, Faglige artikler"
      }
      ],
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4.9",
        "reviewCount": "152"
      },
      "areaServed":{
      	"@type":"GeoShape",
        "addressCountry":"Danmark"
      },
      "provider":"Translated By Us"
}
</script>