<div class="container">
	<main>
		<div class="section">
			<h1>PRIVATLIVSPOLITIK</h1>
			<p><img src="assets/img/privacyy-150x150.png" style="vertical-align: middle; float: left; margin-right: 20px; margin-bottom: 30px;" alt="privacyy" width="150" height="150">Translated By Us APS, herefter kendt som “TBU” er forpligtet til at beskytte personlige oplysninger for vores brugere, (“dig”). Denne Privatlivspolitik sammenfatter hvordan TBU beskytter og bruger de oplysninger de måtte samle om dig eller som du giver TBU, når du bruger TBU’s mobile applikation (“TBU App”) eller den tilknyttede hjemmeside www.transaltedbyus.com (sammen med TBU App,).<br>
				Denne privatlivspolitik gælder for din brug af tjenesten uanset sammenhæng, enten ved mobil digital rute, herunder (men ikke begrænset til) mobil, tablet eller andre enheder/teknologier, eller via din PC eller laptop.<br>
				Du bedes læse denne privatlivspolitik grundigt og tjekke for opdateringer, da TBU kan ændre denne privatlivspolitik fra tid til anden.
			</p>
			<h4>1. DINE PERSONLIGE OPLYSNINGER</h4>
			<p>Selv om registrering ikke er nødvendig for at bruge tjenesten, kan du stadig give TBU oplysninger, der kan identificere dig personligt. Du kunne give disse oplysninger ved kontakt med TBU per telefon, e-mail eller andet, eller ved at give TBU dine oplysninger for at modtage en kvittering via e-mail. Vi søger at samle så lidt data fra vores kunder som muligt.</p>
			<h4><strong>2. TBU´S BRUG AF PERSONLIGE OPLYSNINGER</strong></h4>
			<p>TBU´s autoriserede personale kan få adgang til dine personlige oplysninger med henblik på at give adgang til tjenesten, for at sikre at indhold på tjenesten præsenteres på den mest effektive måde for dig og din enhed, og for at give dig teknisk support.</p>
			<p>TBU kan også indsamle ikke-personlige oplysninger om din enhed, som operativsystemet, browsertype eller andre entydige identifikatorer for at forbedre TBUS produkter og levere tjenesten til dig.</p>
			<p>Hvor du har givet dit samtykke, kan TBU bruge dine oplysninger til at informere dig, om andre produkter, tjenester, kuponer og tilbud, der kan være af interesse for dig ved at TBU kontakter dig via push meddelelser, hvis din enhed tillader denne kommunikation, via tilbud præsenteret i TBU-App eller via e-mail, hvis du har indtastet din e-mail adresse i TBU-App.</p>
			<p>Du accepterer, at TBU kan tildele dig et brugernummer med henblik på at spore brugeres købemønstre. Du vil ikke blive identificeret ud fra disse anonymiserede data.</p>
			<h4>3. AFGIVELSE AF PERSONLIGE OPLYSNINGER</h4>
			<p>TBU og dets associerede selskaber kan dele dine personlige oplysninger indsamlet via tjenesten med virksomheder, som TBU har hyret til at udføre tjenester for dem, hvor brugen af personlige oplysninger er en nødvendighed for at udføre sådanne tjenester. Disse virksomheder er ikke bemyndiget til at opbevare eller bruge personlige oplysninger til andre formål.</p>
			<p>TBU kan også videregive dine personlige oplysninger til potentielle samarbejdspartnere og deres rådgivere, hvis TBU indgår i et joint venture med, bliver købt af, solgt til eller fusionerer med en anden virksomhed.</p>
			<p>Der kan være omstændigheder hvor TBU er forpligtet til at videregive dine personlige oplysninger, for eksempel hvor de er juridisk forpligtet hertil, eller for at håndhæve eller anvende sin bruger vilkår og betingelser og andre aftaler.</p>
			<h4>4. SPORING AF BRUGERAKTIVITET</h4>
			<p>Ikke-personlige oplysninger kan indsamles for din brug af tjenesten, via TBU egen sporingsmekanismer eller via tredjepartsværktøjer, herunder, men ikke begrænset til, Google Analytics. TBU bruger disse oplysninger til at fortsætte med at tilbyde dig servicen og forbedre denne.</p>
			<p>Du kan indstille din enhed til at acceptere eller afvise sporingsmekanismer ved hjælp af indstillinger på din enhed, men dette kan muligvis medføre, at visse dele af tjenesten ikke fungerer.</p>
			<h4>5. BETALINGSOPLYSNINGER</h4>
			<p>TBU bruger en sikker tredjeparts PCI-certificeret server til at behandle dine betalingsoplysninger og TBU modtager og behandler ikke disse oplysninger. Enhver tredjepartsservere eller websteder som ikke er under TBUS kontrol, er TBU ikke ansvarlig for og godkender ikke deres indhold. Tredjeparts hjemmeside operatører vil have deres egen privatlivspolitik så gør dig venligst bekendt med dem, før du sender personlige oplysninger til disse websteder.</p>
			<h4>6. SIKKERHED</h4>
			<p>De oplysninger, du giver til os kan blive overført til og gemt på servere drevet af tredjepartsleverandører for TBU på en destination uden for det Europæiske Økonomiske Samarbejdsområde. Ved at give oplysninger til os accepterer du denne overførsel, lagring eller behandling. Vi vil træffe alle foranstaltninger, der er nødvendige for at sikre, at de oplysninger, du giver til os behandles forsvarligt og i overensstemmelse med denne privatlivspolitik.</p>
			<p>TBU bruger industristandard sikkerhedsforanstaltninger af elektroniske og proceduremæssig art til beskyttelse af personlige oplysninger fra tab og uautoriseret adgang, ændring, offentliggørelse, upassende ændring eller misbrug. Adgangen til personlige oplysninger er begrænset til bemyndiget personale, der har legitime forretningsmæssige formål for at få adgang til dine personlige oplysninger.</p>
			<p>Desværre er, udveksling af information via internettet ikke helt sikker og TBU kan ikke garantere sikkerheden af personlige oplysningers overførsel til tjenesten og enhver overførsel er på egen risiko.</p>
			<h4>7. DINE RETTIGHEDER</h4>
			<p>Hvor det er tilladt ved lov, kan du anmode om adgang til de personlige oplysninger TBU har om dig ved at sende en e-mail til info@translatedbyus.com/old2. TBU vil behandle anmodningen i overensstemmelse med lokale love og procedurer for håndtering af sådanne anmodninger.</p>
			<h4>8.&nbsp;KONTAKT</h4>
			<p>For så vidt angår Data Protection Act 1998 er registeransvarlige: Translated By Us APS, moms: DK37407887<br>Hvis du ønsker at kontakte TBU vedrørende denne privatlivspolitik, kan dette gøres via <a href="mailto:info@translatebyus.com">info@translatebyus.com </a></p>
			<h4>9. FORTRYDELSESRET</h4>
			<p><span style="color: #333333;">Når du bestiller en opgave hos os, accepterer du samtidig, at vi starter opgaven inden udløb af de 14 dages fortrydelsesret, og at købet derefter ikke kan fortrydes. Hvis der skulle opstå uoverensstemmelser, er vi dog altid åbne for i fællesskab at finde en løsning.</span></p>
		</div>
	</main>
</div>
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "LocalBusiness",
      "name": "Translated By Us",
      "description":"Oversættelsesbureau - Få oversat din tekst eller hjemmeside i dag! Vi tilbyder hurtig & billig oversættelse uden minimumsgebyr og til 79 øre pr. ord.",
      "address": {
        "@type": "PostalAddress",
        "addressRegion": "Gentofte",
        "postalCode": "2820",
        "streetAddress": "Ellegårdsvej 10, 1.st floor"
      },
      "currenciesAccepted":"DKK",
      "paymentAccepted":"Dankort, Visa, VisaDankort, Mastercard, m.m.",
      "telephone": "23 67 42 72",
      "url": "https://translatedbyus.com/",
      "openingHours": "Mo,Tu,We,Th,Fr,Sa,Su 00:00-23:59",
      "openingHoursSpecification": [
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Mandag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Tirsdag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Onsdag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Torsdag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Fredag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Lørdag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Søndag",
          "opens":  "00:00:00"
        }
      ]
    }
</script>

<script type="application/ld+json">
{
      "@context": "http://schema.org",
      "@type": "Organization",
      "address":{
        "@type": "PostalAddress",
          "addressRegion": "Gentofte",
          "postalCode": "2820",
          "streetAddress": "Ellegårdsvej 10, 1.st floor"
      },
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4.9",
        "reviewCount": "152"
      },
      "areaServed":{
      	"@type":"GeoShape",
        "addressCountry":"Danmark"
      },
      "contactPoint":"",
      "email":"info@translatedbyus.com",
      "hasOfferCatalog":"",
      "location": {
        "@type": "Place",
        "address": {
          "@type": "PostalAddress",
          "addressRegion": "Gentofte",
          "postalCode": "2820",
          "streetAddress": "Ellegårdsvej 10, 1.st floor"
        }
      },
      "logo":"https://translatedbyus.com/assets/img/logo.png",
      "telephone":"23 67 42 72",
      "vatID":"37407887",
      "mainEntityOfPage":{
      	"@type": "CreativeWork",
      	"translator":"Translated By Us"
      },
      "url":"https://translatedbyus.com/",
      "sameAs":[
      "https://www.facebook.com/translatedbyus/",
      "https://www.linkedin.com/company/translated-by-us",
      "https://plus.google.com/+TranslatedByUsGentofte",
      "https://twitter.com/tbu_world_wide"],
      "name":"Translated By Us"
}
</script>
<script type="application/ld+json">
{
      "@context": "http://schema.org",
      "@type": "Service",
      "name":"Translated By Us",
      "offers":[
      {
        "@type": "Offer",
        "price": "0",
        "priceCurrency":"DKK",
        "description":"pr. ord",
        "name":"Maskin-oversættelse",
	    "description":"Egner sig til overordnet forståelse af tekstindhold. Kryptering sikrer fortroligt materiale. Andre gratis tilbud på nettet er ikke sikret."
      },
      {
        "@type": "Offer",
        "price": "0.79",
        "priceCurrency":"DKK",
        "description":"pr. ord",
        "name":"Basis oversættelse",
	    "description":"Egner sig til: Juridiske tekster, Financielle rapporter, Præsentationer, Kataloger og flyers, Manualer, Faglige artikler"
      },
      {
        "@type": "Offer",
        "price": "0.99",
        "priceCurrency":"DKK",
        "description":"pr. ord",
        "name":"Business translation",
	    "description":"Egner sig til: Juridiske tekster, Financielle rapporter, Præsentationer, Kataloger og flyers, Manualer, Faglige artikler"
      }
      ],
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4.9",
        "reviewCount": "152"
      },
      "areaServed":{
      	"@type":"GeoShape",
        "addressCountry":"Danmark"
      },
      "provider":"Translated By Us"
}
</script>
<script type='application/ld+json'>
{
  "@context":"http://schema.org",
  "@type":"WebPage",
  "url":"https://translatedbyus.com/privatlivspolitik",
  "name":"Translated By Us - Privatlivspolitik.",
  "description":"Læs vores privatlivspolitik her.",
  "about":"PRIVATLIVSPOLITIK",
  "author":"Translated By Us",
  "dateCreated":"",
  "headline":"PRIVATLIVSPOLITIK",
  "hasPart":"Translator",
  "isFamilyFriendly":"True",
  "keywords":"PRIVATLIVSPOLITIK, privatilv, poliktik, privathedspolitik",
  "mainEntity":"PRIVATLIVSPOLITIK",
  "translator":"Translated By Us"
}
</script>