<main class="page-tips-og-triks">

	<section class="container">
		<div class="section">
			<h1 class="text-center">Tips og tricks til en god oversættelse</h1>

			<h2 style="margin-top: 30px; margin-bottom:25px">Er din kildetekst god?</h2>

			<p>Kan tekstens indhold misforstås? </p>

			<p>Er der stavefejl og grammatiske fejl i kildedokumentet? Det giver dig en bedre oversættelse, hvis dette er i orden.<br /> Vi hjælper selvfølgelig også gerne med korrekturen, inden vi begynder med oversættelsen.</p>

		</div>
	</section>

	<section class="container-fluid section-white gode-rad-section">
		<div class="container">
			<h2>6 gode råd til professionel oversættelse</h2>

			<div class="row">
				<div class="col-sm-4">
					<div class="number-item">
						<img src="/assets/img/icons/number-1.png" srcset="/assets/img/icons/number-1@2x.png 2x"/>
						<p>Har du sendt det originale dokument? Vi kan oversætte i næsten alle dokumenttyper - og vi sparer en masse tid, hvis vi gør det direkte i originalen.</p>
					</div>
					<div class="number-item">
						<img src="/assets/img/icons/number-2.png" srcset="/assets/img/icons/number-2@2x.png 2x"/>
						<p>Valuta – skal vi regne om og skifte DKK ud med $, $ eller ¥</p>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="number-item">
						<img src="/assets/img/icons/number-3.png" srcset="/assets/img/icons/number-3@2x.png 2x"/>
						<p>Webadresser – Skal siden oversættes, ændres linket typisk fra .DK til .COM</p>
					</div>
					<div class="number-item">
						<img src="/assets/img/icons/number-4.png" srcset="/assets/img/icons/number-4@2x.png 2x"/>
						<p>Adresser – har I adresser i udlandet der skal noteres i stedet for hovedsædet?</p>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="number-item">
						<img src="/assets/img/icons/number-5.png" srcset="/assets/img/icons/number-5@2x.png 2x"/>
						<p>Produktnavne – har jeres produkt det samme navn på alle sprog?</p>
					</div>
					<div class="number-item">
						<img src="/assets/img/icons/number-6.png" srcset="/assets/img/icons/number-6@2x.png 2x"/>
						<p>Fortæl os hvilket land din tekst skal bruges i. Skal din tekst oversættes til spansk men bruges i Sydamerika, skal vi have en lokal oversætter til hjælp for at ramme den lokale lingo.</p>
					</div>
				</div>

			</div>

			<p class="text-center text-bottom">Fortæl os i kommentarfeltet ved bestilling, hvis der er andet vi skal tage hensyn til.</p>

		</div>
	</section>

	<section class="container file-types-section">
		<div class="section">

			<div class="file-types-header">
				<h2 class="header">Filtyper</h2>

				<p class="text-center">Vi kan oversætte i næsten alle filtyper. Vigtigst af alt er, hvad du som kunde helst vil have tilbage fra os.</p>
				
				<p class="text-center">Her er en liste over de hyppigst oversatte formater og lidt tips og tricks.</p>
			</div>
			
			<div class="file-type-item clearfix">
				<div class="type-icon">
					<img src="/assets/img/icons/word.png" srcset="/assets/img/icons/word@2x.png 2x"/>
				</div>
				<div class="type-desc">

					<h2 class="header">Wordfiler</h2>
					<p class="sub-header">Den mest hyppige filtype vi modtager fra kunder. Sjældent med udfordringer</p>

					<div class="row">
						<div class="col-md-6">
							<ol>
								<li>
									Er der billeder med tekst i? Kan teksten redigeres og skal den oversættes?
									<ul>
										<li>Er filen konverteret direkte fra PDF, kan den være svær at læse for vores</li>
									</ul>
								</li>
								<li>
									Se her <a href="/assets/img/tips/bad_pdf_to_word_conversion.jpg" target="_blank">et eksempel</a> på en dårlig konvertering.
									<ul>
										<li><a href="/assets/img/tips/good_pdf_to_word_conversion.jpg" target="_blank">Se her</a> hvordan det helst gerne skal se ud.</li>
									</ul>
								</li>
								<li>
									Vores tekniker, er vant til at lave gode konverteringer og vi anbefaler derfor, at du lader os klare den del.
								</li>
							</ol>
						</div>
						<div class="col-md-6">
							<ol>
								<li class="extender">1</li>
								<li class="extender">2</li>
								<li class="extender">3</li>
								<li>
									Er det IKKE hele dokumentet der skal oversættes, så markér det der ikke skal oversættes med rødt. 
								</li>
								<li>
									Er der flere sprog i Word filen? Så skriv det gerne når du bestiller.
								</li>
								<li>
									Skal oversættelsen sættes i en tabel ved siden af kildeteksten, så det er tydeligt, hvad der står hvor?
									<ul>
										<li>Skriv det til os når du bestiller.</li>
									</ul>
								</li>
							</ol>
						</div>
					</div>
				</div>
			</div>

			<div class="file-type-item clearfix">
				<div class="type-icon">
					<img src="/assets/img/icons/excel.png" srcset="/assets/img/icons/excel@2x.png 2x"/>
				</div>
				<div class="type-desc">

					<h2 class="header">Excel</h2>
					<p class="sub-header">Excel er populært at oversætte i, fordi det er nemt og overskueligt at vise data i.</p>

					<div class="row">
						<div class="col-md-6">
							<ol>
								<li>
									Rækker, der ikke skal oversættes, kan skjules, Ser her hvordan du gør.
								</li>
							</ol>
						</div>
						<div class="col-md-6">
							<ol>
								<li class="extender">1</li>
								<li>
									Har du lænket dine ark sammen med andre, kan disse data ofte gå tabt. Tjek evt. før du sender det til os.
								</li>
							</ol>
						</div>
					</div>
				</div>
			</div>

			<div class="file-type-item clearfix">
				<div class="type-icon">
					<img src="/assets/img/icons/powerpoint.png" srcset="/assets/img/icons/powerpoint@2x.png 2x"/>
				</div>
				<div class="type-desc">

					<h2 class="header">Power Point</h2>
					<p class="sub-header">Verdens mest elskede og forhadte præsentationsprogram</p>

					<div class="row">
						<div class="col-md-6">
							<ol>
								<li>
									Skal noterne oversættes?
								</li>
								<li>
									Er der tekst i jeres billeder, som ikke kan redigeres? Oplys os om det, og vi sørger for, at det alligevel kommer med i oversættelsen.
								</li>
							</ol>
						</div>
						<div class="col-md-6">
							<ol>
								<li class="extender">1</li>
								<li class="extender">2</li>
								<li>
									Skal vi bede vores grafiker rette til efter oversættelsen?
								</li>
							</ol>
						</div>
					</div>
				</div>
			</div>

			<div class="file-type-item clearfix">
				<div class="type-icon">
					<img src="/assets/img/icons/indesign.png" srcset="/assets/img/icons/indesign@2x.png 2x"/>
				</div>
				<div class="type-desc">

					<h2 class="header">Indesign</h2>
					<p class="sub-header">Verdens mest foretrukne format til kommunikation på tryk.</p>

					<div class="row">
						<div class="col-md-6">
							<ol>
								<li>
									Vi kan oversætte direkte i InDesign filer. Det sparer lidt på regningen til grafikeren.
								</li>
								<li>
									Hvis der er flere sprog i filen, så skjul lag der ikke skal oversættes. Se her  hvordan.
								</li>
							</ol>
						</div>
						<div class="col-md-6">
							<ol>
								<li class="extender">1</li>
								<li class="extender">2</li>
								<li>
									Hvis du ikke selv har Indesign, kan du læse korrektur i vores system online.
								</li>
								<li>
									Vi kan gøre filen trykklar efter endt oversættelse, hvis vi får linkede billeder og fonte med. Det tager typisk kun en dags tid længere end oversættelsen, og koster ikke så meget.
								</li>
							</ol>
						</div>
					</div>
				</div>
			</div>

			<div class="file-type-item clearfix">
				<div class="type-icon">
					<img src="/assets/img/icons/illustrator.png" srcset="/assets/img/icons/illustrator@2x.png 2x"/>
				</div>
				<div class="type-desc">

					<h2 class="header">Illustrator</h2>
					<p class="sub-header">Dejligt at designe i, knap så godt at oversætte i.</p>

					<div class="row">
						<div class="col-md-12">
							<ol>
								<li>
									Overvej at flytte indholdet over i InDesign, så kan vi oversætte direkte i filen.
								</li>
							</ol>
						</div>
					</div>
				</div>
			</div>

			<div class="file-type-item clearfix">
				<div class="type-icon icon-smaller">
					<img src="/assets/img/icons/html.png" srcset="/assets/img/icons/html@2x.png 2x"/>
				</div>
				<div class="type-desc">

					<h2 class="header">HTML, XML og lign.</h2>
					<p class="sub-header">Vi understøtter de fleste ”taggede” formater. Er du i tvivl kan du altid sende os det.</p>

					<div class="row">
						<div class="col-md-6">
							<ol>
								<li>
									Er der flere sprog i samme fil, kan det gøre oversættelsesprocessen længere.
								</li>
								<li>
									Ved du selv hvilke ”tags” der skal oversættes, så fortæl os det meget gerne ved bestilling
								</li>
							</ol>
						</div>
						<div class="col-md-6">
							<ol>
								<li class="extender">1</li>
								<li class="extender">2</li>
								<li>
									Du kan læse korrektur i vores værktøjer, så du slipper for at kigge på XML-koder. Vi viser kun teksten og beskytter alt det tekniske.
								</li>
								<li>
									Hvis filen er kodet i et gammelt karakterformat, kan der opstå problemer med specielle bogstaver som ÆØÅ.
								</li>
							</ol>
						</div>
					</div>
				</div>
			</div>

			<div class="file-type-item clearfix">
				<div class="type-icon icon-smaller">
					<img src="/assets/img/icons/pdf.png" srcset="/assets/img/icons/pdf@2x.png 2x"/>
				</div>
				<div class="type-desc">

					<h2 class="header" style="margin-bottom: 40px; margin-top: 15px;">PDF</h2>
					
					<div class="row">
						<div class="col-md-6">
							<ol>
								<li>
									PDF kan oversættes, hvis teksten stadig er “tekst”. 
								</li>
								<li>
									Vi kan konvertere til txt, eller bede vores grafiker genskabe dokumentet i Word eller Indesign.
								</li>
							</ol>
						</div>
						<div class="col-md-6">
							<ol>
								<li class="extender">1</li>
								<li class="extender">2</li>
								<li>
									Husk at fjerne password. Her er der en gratis tjeneste til hjælp.
								</li>
							</ol>
						</div>
					</div>
				</div>
			</div>

			<div class="file-type-item clearfix">
				<div class="type-icon icon-smaller">
					<img src="/assets/img/icons/zip.png" srcset="/assets/img/icons/zip@2x.png 2x"/>
				</div>
				<div class="type-desc">

					<h2 class="header" style="margin-bottom: 40px; margin-top: 15px;">ZIP filer</h2>

					<div class="row">
						<div class="col-md-12">
							<ol>
								<li>
									Hvis du har mange filer, så upload dem samlet i en zipfil. 
								</li>
							</ol>
						</div>
					</div>
				</div>
			</div>

			<div class="row file-type-item file-other-types clearfix">
				<div class="col-md-6 other-type">
					<h2 class="header">Mac office dokumenter</h2>
					<p>Pages, Numbers og Keynote kan oversættes, men konverteres til Microsoft office dokumenter og tilbage igen.</p>
				</div>
				<div class="col-md-6 other-type">
					<h2 class="header">Google office dokumenter</h2>
					<p>Kan oversættes, men konverteres til Microsoft office og tilbage igen.</p>
				</div>
			</div>
			
		</div>
	</section>

	<section class="container-fluid section-white contact-form-section"  ng-controller="TipsOgTriksController as ttCtrl">
		<div class="container">
			<h2 class="header">Skal vi kigge på dine filer før oversættelse?</h2>

			<div class="row">
				<div class="col-md-8 col-md-offset-2">

					<form name="ttCtrl.formdom">

						<div class="form-group tbu-dropzone" ng-dropzone dropzone="ttCtrl.dropzone" ng-class="{'hasfiles': ttCtrl.form.files }" dropzone-config="ttCtrl.dropzoneConfig" event-handlers="{ 'successmultiple': ttCtrl.dropzone_successmultiple, 'sending': ttCtrl.dropzone_sending }">
							<div class="fallback">
								<input name="file" type="file" />
							</div>
							<div class="uploader dz-default dz-message">
								<p>Klik her for at uploade filer <i class="fa fa-upload"></i></p>
							</div>
							<div class="dropzone-previews"></div>
						</div>

						<div class="form-group">
							<label for="project-text">Indtast tekst</label>
							<textarea class="form-control" name="text" ng-model="ttCtrl.form.text" id="project-text" rows="8"></textarea>
						</div>

						<div class="form-group">
							<label for="email">* Indtast e-mail adresse</label>
							<input type="email" class="form-control" name="email" id="email" ng-model="ttCtrl.form.email" required="required" />
						</div>

						{{console.log(ttCtrl.form.files.length)}}
						
						<button type="submit" class="btn btn-success btn-lg btn-block" ng-click="send()" ng-disabled="ttCtrl.formdom.$invalid || ! ttCtrl.form.files || ttCtrl.sending"><span class="glyphicon glyphicon-refresh spinning" ng-if="ttCtrl.sending"></span> Send os dokument og kommentar</button>
					</form>

					<div class="alert alert-success" ng-if="ttCtrl.message && ! ttCtrl.formdom.$dirty">{{ ttCtrl.message }}</div>

				</div>
			</div>

		</div>
	</section>

</main>