<div class="container">
	<main>
		<div class="section">
			<h1 class="text-center">Vær med til at gøre den gode oversættelse endnu bedre med validering</h1>
		</div>
		<div class="section">
			<div class="row">
				<div class="col-xs-2 col-lg-2">
					<img src="assets/img/validering/Stil-og-Tone.svg" class="img-responsive" />
				</div>
				<div class="col-xs-10 col-lg-10 validering-feature">
					<h2>Oversættelsens stil og tone</h2>
					<p>Hvis du som kunde har en holdning til oversættelsens stil og tone, tilpasser vi gerne oversættelsen efter dine ønsker.</p>
					<p>Ønskes en bestemt stil og tone, skrives det i kommentarfeltet ved bestilling.  Det kan f.eks være <em>‘fri og uhøjtidelig stil og tone ønskes’</em> eller <em>‘formel stil og tone ønskes og brug gerne de-form’</em>.</p>
					<p>Selvom man på dansk vil skrive ‘du’ er der lande, hvor man i samme type tekst vil skrive ‘de’. Har du ikke nogen holdning til stil og tone, vurderer oversætteren selv, hvad der er mest passende.</p>
				</div>
			</div>

		</div>
		<div class="section">
			<div class="row">
				<div class="col-xs-2 col-lg-2">
					<img src="assets/img/validering/Termer.svg" class="img-responsive" />
				</div>
				<div class="col-xs-10 col-lg-10 validering-feature">
					<h2>Termer i oversættelsen</h2>
					<p>Hvis I allerede har en termliste bygger vi videre på den. Hvis ikke, så laver vi en ny fra bunden.</p>
					<p>Med en termliste sikrer vi, at der altid bruges korrekte termer i oversættelserne. Termlisten tilhører jer, så hvis I en dag ikke længere ønsker at benytte os, sender vi termlisten til jer.
						Vi benytter os desuden af oversættelseshukommelse, som sikrer kontinuitet. Den tilhører også jer.</p>
				</div>
			</div>

		</div>
		<div class="section">

			<div class="row">
				<div class="col-xs-2 col-lg-2">
					<img src="assets/img/validering/Validere.svg" class="img-responsive" />
				</div>
				<div class="col-xs-10 col-lg-10 validering-feature">
					<h2>Validering af oversættelsen</h2>
					<p>Det er lidt forskelligt, hvor meget vores kunder ønsker at blive involveret i oversættelsesprocessen.
					Nogle ønsker ikke at blive involveret, mens andre ønsker adgang til at redigere i oversættelsen inden oversættelsen lagres. Vi indretter arbejdsgangen efter jeres ønske.</p>
					<p>Hvis du eller en anden i jeres organisation ønsker adgang til at redigere i oversættelsen inden oversættelsen lagres, kaldes det i branchen for en <em>‘validering’</em>.</p>
					<p>Med validering opnår I en termliste samt oversættelseshukommelse, som passer perfekt til jeres ønsker og som automatisk indgår i næste oversættelse.</p>
					<p>Hvis du eller en anden i jeres organisation redigerer i teksten <em>udenfor</em> vores system, lagres ændringerne <em>ikke</em> i jeres termliste og oversættelseshukommelse og vil <em>ikke</em> indgå i næste oversættelse. Derfor anbefaler vi klart validering frem for redigering i eget system.</p>
					<h2>Bestil validering</h2>
					<p>Skriv navn og email i kommentarfeltet ved bestilling. Så inviterer vi rette vedkommende til at redigere i vores system, når oversættelsen er klar. </p>
				</div>
			</div>

		</div>
	</main>
</div>
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "LocalBusiness",
      "name": "Translated By Us",
      "description":"Oversættelsesbureau - Få oversat din tekst eller hjemmeside i dag! Vi tilbyder hurtig & billig oversættelse uden minimumsgebyr og til 79 øre pr. ord.",
      "address": {
        "@type": "PostalAddress",
        "addressRegion": "Gentofte",
        "postalCode": "2820",
        "streetAddress": "Ellegårdsvej 10, 1.st floor"
      },
      "currenciesAccepted":"DKK",
      "paymentAccepted":"Dankort, Visa, VisaDankort, Mastercard, m.m.",
      "telephone": "23 67 42 72",
      "url": "https://translatedbyus.com/",
      "openingHours": "Mo,Tu,We,Th,Fr,Sa,Su 00:00-23:59",
      "openingHoursSpecification": [
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Mandag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Tirsdag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Onsdag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Torsdag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Fredag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Lørdag",
          "opens":  "00:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "23:59:00",
          "dayOfWeek": "Søndag",
          "opens":  "00:00:00"
        }
      ]
    }
</script>

<script type="application/ld+json">
{
      "@context": "http://schema.org",
      "@type": "Organization",
      "address":{
        "@type": "PostalAddress",
          "addressRegion": "Gentofte",
          "postalCode": "2820",
          "streetAddress": "Ellegårdsvej 10, 1.st floor"
      },
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4.9",
        "reviewCount": "152"
      },
      "areaServed":{
      	"@type":"GeoShape",
        "addressCountry":"Danmark"
      },
      "contactPoint":"",
      "email":"info@translatedbyus.com",
      "hasOfferCatalog":"",
      "location": {
        "@type": "Place",
        "address": {
          "@type": "PostalAddress",
          "addressRegion": "Gentofte",
          "postalCode": "2820",
          "streetAddress": "Ellegårdsvej 10, 1.st floor"
        }
      },
      "logo":"https://translatedbyus.com/assets/img/logo.png",
      "telephone":"23 67 42 72",
      "vatID":"37407887",
      "mainEntityOfPage":{
      	"@type": "CreativeWork",
      	"translator":"Translated By Us"
      },
      "url":"https://translatedbyus.com/",
      "sameAs":[
      "https://www.facebook.com/translatedbyus/",
      "https://www.linkedin.com/company/translated-by-us",
      "https://plus.google.com/+TranslatedByUsGentofte",
      "https://twitter.com/tbu_world_wide"],
      "name":"Translated By Us"
}
</script>
<script type="application/ld+json">
{
      "@context": "http://schema.org",
      "@type": "Service",
      "name":"Translated By Us",
      "offers":[
      {
        "@type": "Offer",
        "price": "0",
        "priceCurrency":"DKK",
        "description":"pr. ord",
        "name":"Maskin-oversættelse",
	    "description":"Egner sig til overordnet forståelse af tekstindhold. Kryptering sikrer fortroligt materiale. Andre gratis tilbud på nettet er ikke sikret."
      },
      {
        "@type": "Offer",
        "price": "0.79",
        "priceCurrency":"DKK",
        "description":"pr. ord",
        "name":"Basis oversættelse",
	    "description":"Egner sig til: Juridiske tekster, Financielle rapporter, Præsentationer, Kataloger og flyers, Manualer, Faglige artikler"
      },
      {
        "@type": "Offer",
        "price": "0.99",
        "priceCurrency":"DKK",
        "description":"pr. ord",
        "name":"Business translation",
	    "description":"Egner sig til: Juridiske tekster, Financielle rapporter, Præsentationer, Kataloger og flyers, Manualer, Faglige artikler"
      }
      ],
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4.9",
        "reviewCount": "152"
      },
      "areaServed":{
      	"@type":"GeoShape",
        "addressCountry":"Danmark"
      },
      "provider":"Translated By Us"
}
</script>
<script type='application/ld+json'>
{
  "@context":"http://schema.org",
  "@type":"WebPage",
  "url":"https://translatedbyus.com/validering",
  "name":"Bestil din validering hos Translated By Us.",
  "description":"Vi tilbyder validering så du selv har adgang til at redigere i oversættelsen under oversættelsesprocessen. Bestil validering hos Translated By Us.",
  "about":"Vær med til at gøre den gode oversættelse endnu bedre med validering",
  "author":"Translated By Us",
  "dateCreated":"",
  "headline":"Vær med til at gøre den gode oversættelse endnu bedre med validering",
  "hasPart":"Translator",
  "isFamilyFriendly":"True",
  "keywords":"om os, Oversættelse, oversættelser, Translated By Us, Translated, Oversæt, oversættelser i tal, Oversættelsesbureau",
  "mainEntity":"Vær med til at gøre den gode oversættelse endnu bedre med validering",
  "translator":"Translated By Us"
}
</script>