.banner {
  color: white;
  text-align: left;
  height: 85vh;
  background-size: cover !important;
}

.banner-content h1 {
  margin-top: 0px;
  font-size: 60px;
  padding-top: 40%;
  padding-left: 27px;

}
.banner-content p {
  font-size: 28px;
  padding-left: 27px;
}
