.button-main {
  background-color: #EF233C;
  box-shadow: 1px 1px 5px 0px rgba(169,169,169,0.50);
  border-radius: 11px;
  color: white;
  padding: 8px 22px;
  margin: 10px;
  text-align: center;
  width: 153px;
  font-size: 14px;
  font-family: 'Crete Round', serif;
  letter-spacing: 2px;
}

.button-main a{
 color:white !important;
}
.button-main a:hover {
  color: #f8877f !important;
}
.button-main a:visited {
  color: white;
}

.button-more {
    background-color: white;
    border-color: white!important;
    box-shadow: 1px 1px 5px 0px rgba(169,169,169,0.50);
    color: black;
    border: none;
    font-size: 14px;
    font-variant: small-caps;
    font-weight: bold;
    font-family: roboto condensed;
    letter-spacing: 2px;
    margin-top: 11px;
    margin-left: -5px;
/*    transition: all 0.5s ease;
*/        -webkit-transition: all .2s ease;
    transition: all .2s ease;

}


.button-more a{
 color:white !important;
}
.button-more:visited {
  border:none !important;
  color: white;
}

.button-more:hover {
  color: #f8877f !important;
/*  transform: scale(1.1);
*/      background: #cce3e5;
    border-left: .3em solid #e86d5d;
}

.button-more a:focus {
  border-color: white !important;
}






.button-grey {
  background-color: $medium-grey;
  box-shadow: 1px 1px 5px 0px rgba(169,169,169,0.50);
  border-radius: 11px;
  color: black;
  padding: 8px 22px;
  margin-top: 10px;
  margin-left: 0;
  text-align: center;
}

