#incDiv {
    display: none;
  }

#mmtDiv {
  display: none;
}
#bloodDiv {
  display: none;
}

#printDiv {
  display:none ;
}

.card {
  height: 300px;
/*  text-shadow: 0 1px 3px rgba(0,0,0,0.6);*/
  background-size: cover !important;
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;
    transition: transform 1s;
}
/*card-b has no annimation*/

.card-team {
  height: 287px;
  background-size: cover !important;
  position: relative;
  border-radius: 5px;
 margin:10px 0px;
}

.card-comp-screens {
  height: 596px;
}
.card-b {
  height: 381px;
  background-size: cover !important;
  position: relative;
  border-radius: 5px;
  margin:10px 0px;
}

.card-inc  {
    height: 647px;
}
.card-ethan{
  height: 338px !important;
}

.card-c {
  height: 663px;
  background-size: cover !important;
  position: relative;
  border-radius: 5px;
  background-repeat: no-repeat;
/*  margin-bottom: 20px;
margin:40px 0px;
/*    transition: transform 1s;
*/}

.card-d {
  height: 625px;
  background-size: cover !important;
  position: relative;
  border-radius: 5px;
  margin:40px 0px;
}
.card-sing {
  height:481px !important;
}
.card-penge {
  height: 652px!important;
  margin-bottom: 0px!important;
}
.collapse-background {
  background-color: pink;
}

.card:hover {
  transform: scale(1.1);
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
/*
.card-link:hover{
  opacity: 0.1;
}*/
.cardwrapper {
 background-color: white;
 margin-bottom: 25px;
 border-radius: 5px;
}
/*.cardwrapper:hover {
 transition: transform 1s;
}*/

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.project-description h2 {
  font-size: 22px;
  color: #f44336;
  margin-bottom: 10px
}

.project-description p {
  font-size: 16px;
  color: black;
  margin-top: 0px;
  margin-bottom: -3px;
/*  letter-spacing: 1.5px;
*/  line-height: 33px;
}


.info-box {
  border:pink solid;
  border-width: 3px;

}
