
.footer {
  padding: 30px 50px;
  background-color: black;
  width: 100%;
}

 .footer p {
    color: white;
    font-size: 14px;
    letter-spacing: 1.5px;
  }

.footer li {
  font-size: 30px;
}

.footer-right-text {
  color: white;
}

