 .navbar {
/*  display: flex;
*/  /*justify-content: space-around;*/
  background: black;
  color: #f44336;
  line-height: 20px;
  padding-bottom: 20px;
  align-content: space-around;
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
  z-index: 40;
}
.navbar-right {
  display: flex;
}
.navbar h4{
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 18px;
  }
/*a:link   a:visited   a:hover   a:active */
.navbar a {
  padding: 10px 10px;
/*  height: 88px;
*/}

.navbar a:hover{
  background-color: #383838;
  text-decoration: none;
  -webkit-transition: background-color .25s ease-in-out;
  transition: background-color .25s ease-in-out;
}

