.wondercoders {
    background-size: cover !important;
    height: 300px;
    position: relative;
    transition: transform 1s;
    margin: 0 auto;
    display: flex;
    border-radius: 5px;
    background-color: white;
}
